apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ tas_single_node_trillian_mysql_pod }}"
  namespace: trillian-system
  labels:
    app.podman.io/component: trillian-mysql
    app.podman.io/part-of: trusted-artifact-signer
    app.name: trillian
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trillian-mysql
  template:
    metadata:
      labels:
        app: trillian-mysql
        app.podman.io/component: trillian-mysql
        app.podman.io/part-of: trusted-artifact-signer
        app.name: trillian
    spec:
      containers:
        - name: trillian-mysql
          readinessProbe:
            exec:
              command:
                - bash
                - '-c'
                - 'mariadb -u {{ tas_single_node_trillian.mysql.user }} -p {{ tas_single_node_trillian.mysql.password }} -e "SELECT 1;"'
            initialDelaySeconds: 10
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          livenessProbe:
            exec:
              command:
                - bash
                - '-c'
                - 'mariadb-admin -u {{ tas_single_node_trillian.mysql.user }} -p {{ tas_single_node_trillian.mysql.password }} ping'
            initialDelaySeconds: 10
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          image: "{{ tas_single_node_trillian_db_image }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ tas_single_node_trillian_mysql_port_tcp }}
              protocol: TCP
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: mysql-root-password
                  name: trillian-mysql
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  key: mysql-user
                  name: trillian-mysql
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: mysql-password
                  name: trillian-mysql
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  key: mysql-database
                  name: trillian-mysql
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: storage
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      nodeName: minikube
      preemptionPolicy: PreemptLowerPriority
      priority: 0
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccountName: trillian-mysql
      tolerations:
        - effect: NoExecute
          key: node.kubernetes.io/not-ready
          operator: Exists
          tolerationSeconds: 300
        - effect: NoExecute
          key: node.kubernetes.io/unreachable
          operator: Exists
          tolerationSeconds: 300
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: trillian-mysql
