apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ tas_single_node_trillian_logserver_pod }}"
  namespace: trillian-system
  labels:
    app.podman.io/component: trillian-logserver
    app.podman.io/part-of: trusted-artifact-signer
    app.name: trillian
spec:
  replicas: 1
  selector:
    matchLabels:
      app.podman.io/component: trillian-logserver
  template:
    metadata:
      labels:
        app.podman.io/component: trillian-logserver
        app.podman.io/part-of: trusted-artifact-signer
    spec:
{% if tas_single_node_trillian.trusted_ca != "" %}
      volumes:
        - name: ca-trust
          configMap:
            name: {{ tas_single_node_trillian_trusted_ca_configmap_name }}
{% endif %}
      containers:
        - name: trillian-trillian-logserver
{% if tas_single_node_trillian.trusted_ca != "" %}
          volumeMounts:
            - name: ca-trust
              mountPath: /var/run/configs/tas/ca-trust
{% endif %}
          image: "{{ tas_single_node_trillian_log_server_image }}"
          command:
            - /bin/sh
          args:
            - -c
            - |
              exec /trillian_log_server \
                --storage_system={{ tas_single_node_trillian.provider }} \
                --quota_system={{ tas_single_node_trillian.provider }} \
{% if tas_single_node_trillian.provider == "mysql" %}
                --mysql_uri="${DB_USER}:${DB_PASSWORD}@tcp(${DB_HOSTNAME}:${DB_PORT})/${DB_DATABASE}" \
                --mysql_max_conns=30 \
                --mysql_max_idle_conns=10{% if tas_single_node_trillian.trusted_ca != "" and not tas_single_node_trillian.database_deploy %} \
                --mysql_tls_ca=/var/run/configs/tas/ca-trust/trillian-trusted-ca.pem \
                --mysql_server_name="${DB_HOSTNAME}"{% endif %} \
{% endif %}
{% if tas_single_node_trillian.provider == "postgresql" %}
                --postgresql_uri="postgresql://$(DB_USER):$(DB_PASSWORD)@$(DB_HOSTNAME):$(DB_PORT)/$(DB_DATABASE)"{% if tas_single_node_trillian.trusted_ca != "" and not tas_single_node_trillian.database_deploy %} \
                --postgresql_tls_ca=/var/run/configs/tas/ca-trust/trillian-trusted-ca.pem{% endif %} \
{% endif %}
                --rpc_endpoint=0.0.0.0:{{ tas_single_node_trillian_logserver_port_rpc }} \
                --http_endpoint=0.0.0.0:{{ tas_single_node_trillian_logserver_port_metrics }} \
                --max_msg_size_bytes={{ tas_single_node_trillian.max_msg_size_bytes }} \
                --alsologtostderr

          env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  key: db-user
                  name: trillian-db
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: db-password
                  name: trillian-db
            - name: DB_DATABASE
              valueFrom:
                secretKeyRef:
                  key: db-database
                  name: trillian-db
            - name: DB_HOSTNAME
              value: "{{ tas_db_config.host }}"
            - name: DB_PORT
              value: "{{ tas_db_config.port | quote }}"
{% if tas_single_node_trillian.trusted_ca != "" %}
            - name: SSL_CERT_DIR
              value: "/var/run/configs/tas/ca-trust"
{% endif %}
          ports:
            - containerPort: {{ tas_single_node_trillian_logserver_port_rpc }}
              protocol: TCP
            - containerPort: {{ tas_single_node_trillian_logserver_port_metrics }}
              protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      initContainers:
        - name: wait-for-trillian-db
          image: "{{ tas_single_node_trillian_netcat_image }}"
          imagePullPolicy: IfNotPresent
          command: ["sh", "-c", "until nc -z -w 10 {{ tas_db_config.host }} {{ tas_db_config.port }}; do echo waiting for trillian database; sleep 5; done;"]
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      nodeName: minikube
      nodeSelector:
        kubernetes.io/arch: arm64
      preemptionPolicy: PreemptLowerPriority
      priority: 0
      # Needs to be set until https://github.com/containers/podman/pull/16698 is downsteamed
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
        allowPrivilegeEscalation: false
      serviceAccount: trillian-logserver
      serviceAccountName: trillian-logserver
      terminationGracePeriodSeconds: 30
      tolerations:
        - effect: NoExecute
          key: node.kubernetes.io/not-ready
          operator: Exists
          tolerationSeconds: 300
        - effect: NoExecute
          key: node.kubernetes.io/unreachable
          operator: Exists
          tolerationSeconds: 300
