apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ tas_single_node_trillian_logsigner_pod }}"
  namespace: trillian-system
  labels:
    app.podman.io/component: trillian-logsigner
    app.podman.io/part-of: trusted-artifact-signer
    app.name: trillian
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trillian-logsigner
  template:
    metadata:
      labels:
        app: trillian-logsigner
        app.podman.io/component: trillian-logsigner
        app.podman.io/part-of: trusted-artifact-signer
        app.name: trillian
    spec:
      initContainers:
        - name: wait-for-trillian-db
          image: "{{ tas_single_node_trillian_netcat_image}}"
          imagePullPolicy: IfNotPresent
          command: ["sh", "-c", "until nc -z -w 10 {{ tas_single_node_trillian.mysql.host }} {{ tas_single_node_trillian.mysql.port }}; do echo waiting for trillian mysql; sleep 5; done;"]
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
{% if tas_single_node_trillian.trusted_ca != "" %}
      volumes:
        - name: ca-trust
          configMap:
            name: {{ tas_single_node_trillian_trusted_ca_configmap_name }}
{% endif %}
      containers:
        - name: trillian-trillian-logsigner
{% if tas_single_node_trillian.trusted_ca != "" %}
          volumeMounts:
            - name: ca-trust
              mountPath: /var/run/configs/tas/ca-trust
{% endif %}
          image: "{{ tas_single_node_trillian_log_signer_image }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ tas_single_node_trillian_logsigner_port_metrics }}
              protocol: TCP
            - containerPort: {{ tas_single_node_trillian_logsigner_port_rpc }}
              protocol: TCP
          command:
            - /bin/sh
          args:
            - -c 
            - | 
              exec /trillian_log_signer \
                --storage_system=mysql \
                --quota_system=mysql \
                --mysql_uri="${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(${MYSQL_HOSTNAME}:${MYSQL_PORT})/${MYSQL_DATABASE}" \
                --rpc_endpoint=0.0.0.0:{{ tas_single_node_trillian_logsigner_port_rpc }} \
                --http_endpoint=0.0.0.0:{{ tas_single_node_trillian_logsigner_port_metrics }} \
                --max_msg_size_bytes={{ tas_single_node_trillian.max_msg_size_bytes }} \
                --force_master=true \
                --alsologtostderr{% if tas_single_node_trillian.trusted_ca != "" and not tas_single_node_trillian.database_deploy %} \
                --mysql_tls_ca=/var/run/configs/tas/ca-trust/trillian-trusted-ca.pem \
                --mysql_server_name="${MYSQL_HOSTNAME}"{% endif %}

          env:
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  key: mysql-user
                  name: trillian-mysql
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: mysql-password
                  name: trillian-mysql
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  key: mysql-database
                  name: trillian-mysql
            - name: MYSQL_HOSTNAME
              value: "{{ tas_single_node_trillian.mysql.host }}"
            - name: MYSQL_PORT
              value: "{{ tas_single_node_trillian.mysql.port | quote }}"
{% if tas_single_node_trillian.trusted_ca != "" %}
            - name: SSL_CERT_DIR
              value: "/var/run/configs/tas/ca-trust"
{% endif %}
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      nodeName: minikube
      nodeSelector:
        kubernetes.io/arch: arm64
      preemptionPolicy: PreemptLowerPriority
      priority: 0
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccountName: trillian-logsigner
      tolerations:
        - effect: NoExecute
          key: node.kubernetes.io/not-ready
          operator: Exists
          tolerationSeconds: 300
        - effect: NoExecute
          key: node.kubernetes.io/unreachable
          operator: Exists
          tolerationSeconds: 300
