apiVersion: apps/v1
kind: Deployment
metadata:
  name: trillian-mysql
  namespace: trillian-system
  labels:
    app.component: mysql
    app.instance: scaffold
    app.name: trillian
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trillian-mysql
  template:
    metadata:
      labels:
        app: trillian-mysql
        app.component: mysql
        app.instance: scaffold
        app.name: trillian
    spec:
      containers:
        - name: trillian-mysql
          image: "{{ tas_single_node_trillian_db_image }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3306
              protocol: TCP
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: mysql-root-password
                  name: trillian-mysql
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  key: mysql-user
                  name: trillian-mysql
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: mysql-password
                  name: trillian-mysql
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  key: mysql-database
                  name: trillian-mysql
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: storage
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      nodeName: minikube
      preemptionPolicy: PreemptLowerPriority
      priority: 0
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccountName: trillian-mysql
      tolerations:
        - effect: NoExecute
          key: node.kubernetes.io/not-ready
          operator: Exists
          tolerationSeconds: 300
        - effect: NoExecute
          key: node.kubernetes.io/unreachable
          operator: Exists
          tolerationSeconds: 300
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: trillian-mysql
