apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ tas_single_node_trillian_logserver_pod }}"
  namespace: trillian-system
  labels:
    app.podman.io/component: trillian-logserver
    app.podman.io/part-of: trusted-artifact-signer
    app.name: trillian
spec:
  replicas: 1
  selector:
    matchLabels:
      app.podman.io/component: trillian-logserver
  template:
    metadata:
      labels:
        app.podman.io/component: trillian-logserver
        app.podman.io/part-of: trusted-artifact-signer
    spec:
{% if tas_single_node_trillian_trusted_ca != "" %}
      volumes:
        - name: ca-trust
          configMap:
            name: {{ tas_single_node_trillian_trusted_ca_configmap_name }}
{% endif %}
      containers:
        - name: trillian-trillian-logserver
{% if tas_single_node_trillian_trusted_ca != "" %}
          volumeMounts:
            - name: ca-trust
              mountPath: /var/run/configs/tas/ca-trust
{% endif %}
          image: "{{ tas_single_node_trillian_log_server_image }}"
          imagePullPolicy: IfNotPresent
          args:
            - --storage_system=mysql
            - --quota_system=mysql
            - --mysql_uri={{ tas_single_node_trillian.mysql.user }}:{{ tas_single_node_trillian.mysql.password }}@tcp({{ tas_single_node_trillian.mysql.host }}:{{ tas_single_node_trillian.mysql.port }})/{{ tas_single_node_trillian.mysql.database }}
            - --rpc_endpoint=0.0.0.0:{{ tas_single_node_trillian_logserver_port_rpc }}
            - --http_endpoint=0.0.0.0:{{ tas_single_node_trillian_logserver_port_http }}
            - --alsologtostderr
{% if tas_single_node_trillian_trusted_ca != "" and not tas_single_node_trillian.database_deploy %}
            - --mysql_tls_ca=/var/run/configs/tas/ca-trust/trillian-trusted-ca.pem
            - --mysql_server_name={{ tas_single_node_trillian.mysql.host }}
{% endif %}
          env:
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  key: mysql-user
                  name: trillian-mysql
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: mysql-password
                  name: trillian-mysql
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  key: mysql-database
                  name: trillian-mysql
            - name: MYSQL_HOSTNAME
              value: "{{ tas_single_node_trillian.mysql.host }}"
            - name: MYSQL_PORT
              value: "{{ tas_single_node_trillian.mysql.port | quote }}"
{% if tas_single_node_trillian_trusted_ca != "" %}
            - name: SSL_CERT_DIR
              value: "/var/run/configs/tas/ca-trust"
{% endif %}
          ports:
            - containerPort: {{ tas_single_node_trillian_logserver_port_rpc }}
              protocol: TCP
            - containerPort: {{ tas_single_node_trillian_logserver_port_http }}
              protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      initContainers:
        - name: wait-for-trillian-db
          image: "{{ tas_single_node_trillian_netcat_image }}"
          imagePullPolicy: IfNotPresent
          command: ["sh", "-c", "until nc -z -w 10 {{ tas_single_node_trillian.mysql.host }} {{ tas_single_node_trillian.mysql.port }}; do echo waiting for trillian-mysql; sleep 5; done;"]
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      nodeName: minikube
      nodeSelector:
        kubernetes.io/arch: arm64
      preemptionPolicy: PreemptLowerPriority
      priority: 0
      # Needs to be set until https://github.com/containers/podman/pull/16698 is downsteamed
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: trillian-logserver
      serviceAccountName: trillian-logserver
      terminationGracePeriodSeconds: 30
      tolerations:
        - effect: NoExecute
          key: node.kubernetes.io/not-ready
          operator: Exists
          tolerationSeconds: 300
        - effect: NoExecute
          key: node.kubernetes.io/unreachable
          operator: Exists
          tolerationSeconds: 300
