
apiVersion: apps/v1
# Job has only been added to podman kube play in 5.3.0 (unreleased as of writing this comment)
# https://github.com/containers/podman/commit/bdf96e7df2295b0659bfc367a3066e182bc38ee3
# We solve this by having a deployment with a "restartPolicy: OnFailure" container
kind: Deployment
metadata:
  name: {{ tas_single_node_tuf_init_pod }}
  namespace: tuf-system
  labels:
    app.component: tuf
    app.instance: scaffold
    app.name: tuf-init
spec:
  replicas: 1
  selector:
    matchLabels:
      app.component: tuf
      app.instance: scaffold
  template:
    metadata:
      labels:
        app.component: tuf
        app.instance: scaffold
    spec:
      containers:
        - name: tuf-init
          command:
            - bash
          args:
            - "-c"
            - >
              ls /var/run/target/root.json 2>/dev/null 1>/dev/null && echo "Trust root already exists, stopping now ..." ||
              /usr/bin/tuf-repo-init.sh
              --export-keys file:///var/run/tuf-signing-keys
{% if tas_single_node_rekor_enabled %}
              --rekor-key /var/run/tuf-secrets/rekor.pub
{% endif %}
{% if tas_single_node_ctlog_enabled %}
              --ctlog-key /var/run/tuf-secrets/ctfe.pub
{% endif %}
{% if tas_single_node_fulcio_enabled %}
              --fulcio-cert /var/run/tuf-secrets/fulcio_v1.crt.pem
{% endif %}
{% if tas_single_node_tsa_enabled %}
              --tsa-cert /var/run/tuf-secrets/tsa.certchain.pem
{% endif %}
              /var/run/target
          image: "{{ tas_single_node_tuf_image }}"
          imagePullPolicy: IfNotPresent
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /var/run/target
              name: "{{ tas_single_node_tuf_repository_volume_name }}"
              readOnly: false
            - mountPath: /var/run/tuf-secrets
              name: "tuf-secrets"
              readOnly: true
            - mountPath: /var/run/tuf-signing-keys
              name: "{{ tas_single_node_tuf_signing_keys_volume_name }}"
              readOnly: false
      enableServiceLinks: true
      securityContext:
        capabilities:
          drop:
            - ALL
        runAsNonRoot: true
        runAsUser: 65532
        allowPrivilegeEscalation: false
      serviceAccountName: tuf
      restartPolicy: Never
      volumes:
        - name: "{{ tas_single_node_tuf_repository_volume_name }}"
          persistentVolumeClaim:
            claimName: "{{ tas_single_node_tuf_repository_volume_name }}"
        - name: tuf-secrets
          secret:
            secretName: tuf-secret
        - name: "{{ tas_single_node_tuf_signing_keys_volume_name }}"
          persistentVolumeClaim:
            claimName: "{{ tas_single_node_tuf_signing_keys_volume_name }}"
