kind: Secret
apiVersion: v1
metadata:
  name: '{{ secret_name }}'
  namespace: '{{ secret_namespace }}'
data:
  redis-password: "{{ tas_single_node_rekor_redis.redis.password | b64encode }}"
  ca-passphrase: "{{ tas_single_node_rekor.ca_passphrase | b64encode }}"
{%- for x in key_lists -%}
{% if x is string %}{% set x = [x] %}{% endif %}
{%- set oidx = loop.index0 -%}
{%- for keys in x -%}
{%- set iidx = loop.index0 %}

  {% if key_ids is not defined or key_ids[oidx][iidx].id is not defined or key_ids[oidx][iidx].id == "" %}{{ key_name[oidx] }}-{{ iidx }}{% else %}{{ key_ids[oidx][iidx].id }}{% endif %}: '{{ (slurped_certs.results | selectattr('source', 'equalto' , keys ) | list | first).content }}'
{%- endfor -%}
{%- endfor -%}