kind: Secret
apiVersion: v1
metadata:
  name: '{{ secret_name }}'
  namespace: '{{ secret_namespace }}'
data:
{%- for x in keylists -%}
{% if x is string %}{% set x = [x] %}{% endif %}
{%- set oidx = loop.index0 -%}
{%- for keys in x -%}
{%- set iidx = loop.index0 %}

  {% if keyids is not defined or keyids[oidx][iidx].id == "" %}{{ keyname[oidx] }}-{{ iidx }}{% else %}{{ keyids[oidx][iidx].id }}{% endif %}: '{{ (slurpedcerts.results | selectattr('source', 'equalto' , keys ) | list | first).content }}'
{%- endfor -%}
{%- endfor -%}