kind: Secret
apiVersion: v1
metadata:
  name: '{{ secret_name }}'
  namespace: '{{ secret_namespace }}'
data:
{%- for x in keylists -%}
{% if x is string %}{% set x = [x] %}{% endif %}
{%- set oidx = loop.index0 -%}
{%- for keys in x -%}
{%- set iidx = loop.index0 %}

  {{ keyname[oidx] }}-{{ iidx }}: '{{ (slurpedcerts.results | selectattr('source', 'equalto' , keys ) | list | first).content }}'
{%- endfor -%}
{%- endfor -%}