backends:{backend:{name:"trillian"  backend_spec:"{{ tas_single_node_trillian_logserver_pod }}-pod:{{ tas_single_node_trillian_logserver_port_rpc }}"}}  
log_configs:{
{% for log in tas_single_node_ctlog.sharding_config %}
    config:{
        log_id:{% if log.treeid == None %} {{ trillian_tree_id }} {% else %} {{ log.treeid }} {% endif %}
        prefix: "{{ log.prefix }}"
        roots_pem_file: "{{ log.root_pem_file }}"
        private_key:{
            [type.googleapis.com/keyspb.PEMKeyFile]:{ 
                path: "/ctfe-keys/{{ log.private_key }}"
                password: "{{ log.password }}"
                }}
        ext_key_usages:"CodeSigning"  log_backend_name:"trillian"}
{% endfor %}
}