{% for item in ['fulcio','tuf', 'rekor','rekor-search'] %}
{{ hostvars[inventory_hostname].ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }} {{ item }}.{{ tas_single_node_base_hostname }}
{% endfor %}