{
    "OIDCIssuers": {
    "{{ tas_single_node_oidc_issuers }}": {
        "ClientID": "{{ tas_single_node_oidc_client_id }}",
        "IssuerURL": "{{ tas_single_node_issuer_url }}",
        "Type": "{{ tas_single_node_oidc_issuers_type }}"
        }
    }
}
