{
  "OIDCIssuers": {
    {% for issuer in tas_single_node_oidc_issuers %}
    "{{ issuer.issuer }}": {
      "IssuerURL": "{{ issuer.url }}",
      "ClientID": "{{ issuer.client_id }}",
      "Type": "{{ issuer.type }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  },
  "MetaIssuers": {
    {% for meta_issuer in tas_single_node_meta_issuers %}
    "{{ meta_issuer.issuer_pattern }}": {
      "ClientID": "{{ meta_issuer.client_id }}",
      "Type": "{{ meta_issuer.type }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  }
}
