{
  "OIDCIssuers": {
    {% for issuer in tas_single_node_oidc_issuers %}
    "{{ issuer.issuer }}": {
      "IssuerURL": "{{ issuer.url }}",
      "ClientID": "{{ issuer.client_id }}",
      "Type": "{{ issuer.type }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  }
}
