kind: ConfigMap
apiVersion: v1
metadata:
  name: rekor-server-config
  namespace: rekor-system
data:
  sharding-config.yaml: |
{% if tas_single_node_rekor.sharding_config is defined %}
{% for tree in tas_single_node_rekor.sharding_config %}
{% if tree.treeID is defined %}
    - treeID: {% if tree.treeID == None %}{{ trillian_tree_id }}{% else %}{{ tree.treeID }}{% endif %}
{% endif %}
    
{% if tree.treeLength is defined %}
      treeLength: {{ tree.treeLength }}
{% endif %}
{% if tree.signingConfig is defined %}
      signingConfig: {{ tree.signingConfig }}
{% endif %}
{% endfor %}
{% endif %}