apiVersion: apps/v1
kind: Deployment
metadata:
  name: backfill-redis
  namespace: backfill-redis
  labels:
    app.component: backfill-redis
    app.instance: backfill-redis
    app.name: backfill-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app.component: backfill-redis
      app.instance: backfill-redis
      app.name: backfill-redis
  template:
    metadata:
      labels:
        app.component: backfill-redis
        app.instance: backfill-redis
        app.name: backfill-redis
    spec:
      restartPolicy: OnFailure
      containers:
        - name: backfill-redis
          image: "{{ tas_single_node_backfill_redis_image }}"
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: redis_password
                  name: rekor-secret
          command:
            - /bin/sh
            - -c
          args:
            - |
              set +x
              echo "info: Querying Rekor for current log size..."
              treeSize=$(curl -sS http://{{ tas_single_node_rekor_server_pod }}-pod:{{ tas_single_node_rekor_server_port_http }}/api/v1/log | sed -E 's/.*"treeSize":([0-9]+).*/\1/')
              echo "info: Fetched treeSize from Rekor; treeSize = ${treeSize}"

              endIndex=$((treeSize-1))
              if [ "${endIndex}" -lt 0 ]; then
                echo "info: no rekor entries found"
                exit 0
              fi

              echo "info: Checking Redis for last filled index..."
              startIndex=$(redis-cli \
                -h {{ tas_single_node_rekor_redis.redis.host }} \
                -p {{ tas_single_node_rekor_redis.redis.port }} \
{% if tas_single_node_rekor_redis.redis.password != "" %}
                -a "${REDIS_PASSWORD}" \
{% endif %}
                GET last_filled_index)

              if [ -z "$startIndex" ]; then
                startIndex=0
                firstRun=true
              else
                firstRun=false
              fi

              if [ "$firstRun" = "false" ] && [ "$startIndex" -eq "$endIndex" ]; then
                echo "info: Start index is equal to end index, nothing to do, exiting...."
                exit 0
              fi

              if [ "$firstRun" = "false" ]; then
                startIndex=$((startIndex+1))
              fi

              echo "info: Retrieved startIndex from Redis; startIndex = ${startIndex}"

              echo "info: Executing backfill-redis from ${startIndex} to ${endIndex}"
              backfill-redis \
                --redis-hostname={{ tas_single_node_rekor_redis.redis.host }} \
                --redis-port={{ tas_single_node_rekor_redis.redis.port }} \
{% if tas_single_node_rekor_redis.redis.password != "" %}
                --redis-password="${REDIS_PASSWORD}" \
{% endif %}
                --rekor-address=http://{{ tas_single_node_rekor_server_pod }}-pod:{{ tas_single_node_rekor_server_port_http }} \
                --start="${startIndex}" --end="${endIndex}"

              echo "info: Updating last_filled_index in Redis to $((endIndex))"
              redis-cli \
                -h {{ tas_single_node_rekor_redis.redis.host }} \
                -p {{ tas_single_node_rekor_redis.redis.port }} \
{% if tas_single_node_rekor_redis.redis.password != "" %}
                -a "${REDIS_PASSWORD}" \
{% endif %}
                SET last_filled_index "$((endIndex))"
          volumeMounts:
            - mountPath: /var/lib/redis/data
              name: redis-backfill-storage
      volumes:
        - name: redis-backfill-storage
          persistentVolumeClaim:
            claimName: redis-backfill-storage
