apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ tas_single_node_rekor_server_pod }}"
  namespace: rekor-system
  labels:
    app.component: server
    app.instance: scaffold
    app.name: rekor
    pod-template-hash: 5c755b56f9
spec:
  replicas: 1
  selector:
    matchLabels:
      app.component: server
      app.instance: scaffold
      app.name: rekor
      pod-template-hash: 5c755b56f9
  template:
    metadata:
      labels:
        app.component: server
        app.instance: scaffold
        app.name: rekor
        pod-template-hash: 5c755b56f9
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "2112"
        prometheus.io/scrape: "true"
    spec:
      containers:
        - name: rekor-server
          args:
            - serve
            - --trillian_log_server.address={{ tas_single_node_trillian_logserver_pod }}-pod
            - --trillian_log_server.port={{ tas_single_node_trillian_logserver_port_rpc }}
            - --trillian_log_server.sharding_config=/config/sharding-config.yaml
            - --redis_server.address={{ tas_single_node_rekor_redis.redis.host }}
            - --redis_server.port={{ tas_single_node_rekor_redis.redis.port }}
{% if tas_single_node_rekor_redis.redis.password != "" %}
            - --redis_server.password={{ tas_single_node_rekor_redis.redis.password }}
{% endif %}
            - --rekor_server.address=0.0.0.0
{% if tas_single_node_rekor_signer_type == "file" %}
            - --rekor_server.signer=/rekor-keys/private
            - --rekor_server.signer-passwd={{ tas_single_node_rekor_ca_passphrase }}
{% endif %}
            - --enable_retrieve_api=true
            - --trillian_log_server.tlog_id={{ trillian_tree_id }}
            - --enable_attestation_storage
            - --attestation_storage_bucket=file:///var/run/attestations
            - --port={{ tas_single_node_rekor_server_port1 }}
          image: "{{ tas_single_node_rekor_server_image }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ tas_single_node_rekor_server_port1 | int }}
              protocol: TCP
            - containerPort: {{ tas_single_node_rekor_server_port2 | int }}
              protocol: TCP
          resources: {}
          volumeMounts:
            - mountPath: /rekor-keys
              name: keys
            - mountPath: /config
              name: rekor-server-config
            - mountPath: /var/run/attestations
              name: storage
      restartPolicy: Always
      volumes:
        - name: keys
          secret:
            secretName: rekor-secret
        - name: rekor-server-config
          configMap:
            defaultMode: 420
            name: rekor-server-config
        - name: storage
          persistentVolumeClaim:
            claimName: rekor-server
