apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ tas_single_node_rekor_server_pod }}"
  namespace: rekor-system
  labels:
    app.podman.io/component: rekor-server
    app.podman.io/part-of: trusted-artifact-signer
    app.name: rekor-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app.name: rekor-server
  template:
    metadata:
      labels:
        app.podman.io/component: rekor-server
        app.podman.io/part-of: trusted-artifact-signer
        app.name: rekor-redis
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "2112"
        prometheus.io/scrape: "true"
    spec:
      containers:
        - name: rekor-server
          env:
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                key: redis-password
                name: rekor-secret
          - name: CA_PASSPHRASE
            valueFrom:
              secretKeyRef:
                key: ca-passphrase
                name: rekor-secret
{% for var in tas_single_node_rekor.env %}
          - name: "{{ var.name }}"
            value: "{{ var.value }}"
{% endfor %}
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /ping
              port : {{ tas_single_node_rekor_server_port_http }}
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /ping
              port : {{ tas_single_node_rekor_server_port_http }}
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          command:
            - /bin/sh
          # NOTE: we need to use no_tmp_dir=true with file-based storage to prevent
          # cross-device link error - see https://github.com/google/go-cloud/issues/3314
          args:
            - -c
            - |
              exec rekor-server serve \
                --trillian_log_server.address={{ tas_single_node_trillian_logserver_pod }}-pod \
                --trillian_log_server.port={{ tas_single_node_trillian_logserver_port_rpc }} \
                --trillian_log_server.sharding_config=/config/sharding-config.yaml \
                --redis_server.address={{ tas_single_node_rekor_redis.redis.host }} \
                --redis_server.port={{ tas_single_node_rekor_redis.redis.port }} \
{% if tas_single_node_rekor_redis.redis.password != "" %}
                --redis_server.password="${REDIS_PASSWORD}" \
{% endif %}
                --rekor_server.address=0.0.0.0 \
{% if tas_single_node_rekor.active_signer_type == "file" %}
                --rekor_server.signer=/rekor-keys/{{ tas_single_node_rekor.active_signer_id }} \
                --rekor_server.signer-passwd="${CA_PASSPHRASE}" \
{% endif %}
{% if tas_single_node_rekor.active_signer_type == "kms" %}
                --rekor_server.signer=awskms:///{{ tas_single_node_rekor.kms.kms_resource }} \
{% endif %}
{% if tas_single_node_rekor.active_signer_type == "tink" %}
                --rekor_server.tink_kek_uri=aws-kms:///{{ tas_single_node_rekor.tink.tink_kek_uri }} \
                --rekor_server.tink_keyset_path=/rekor-keys/{{ tas_single_node_rekor.active_signer_id }} \
{% endif %}
                --enable_retrieve_api=true \
{% if tas_single_node_rekor.active_tree_id is defined and tas_single_node_rekor.active_tree_id != 0 %}
                --trillian_log_server.tlog_id={{ tas_single_node_rekor.active_tree_id }} \
{% else %}
                --trillian_log_server.tlog_id={{ trillian_tree_id }} \
{% endif %}
{% if tas_single_node_rekor.attestations.enabled %}
                --enable_attestation_storage \
                --attestation_storage_bucket="{{ tas_single_node_rekor.attestations.url }}" \
                --max_attestation_size="{{ tas_single_node_rekor.attestations.max_size }}" \
{% endif %}
                --port={{ tas_single_node_rekor_server_port_http }}
          image: "{{ tas_single_node_rekor_server_image }}"
          imagePullPolicy: IfNotPresent
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: file
          securityContext:
            runAsNonRoot: true
            runAsUser: 65533
            allowPrivilegeEscalation: false
          ports:
            - containerPort: {{ tas_single_node_rekor_server_port_http }}
              protocol: TCP
            - containerPort: {{ tas_single_node_rekor_server_port_metrics }}
              protocol: TCP
          resources: {}
          volumeMounts:
            - mountPath: /rekor-keys
              name: keys
            - mountPath: /config
              name: rekor-server-config
            - mountPath: /var/run/attestations
              name: storage
      restartPolicy: Always
      volumes:
        - name: keys
          secret:
            secretName: rekor-secret
        - name: rekor-server-config
          configMap:
            defaultMode: 420
            name: rekor-server-config
        - name: storage
          persistentVolumeClaim:
            claimName: rekor-server
