apiVersion: apps/v1
kind: Deployment
metadata:
  name: rekor-monitor
  namespace: rekor-system
  labels:
    app.podman.io/component: rekor-monitor
    app.podman.io/part-of: trusted-artifact-signer
    app.name: rekor-monitor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rekor-monitor
  template:
    metadata:
      labels:
        app.name: rekor-monitor
    spec:
      containers:
        - name: rekor-monitor
          image: "{{ tas_single_node_rekor_monitor_image }}"
          ports:
          - containerPort: 4317
          env:
          - name: SSL_CERT_FILE
            value: /rhtas.pem
          - name: OTEL_EXPORTER_OTLP_ENDPOINT
            value: http://otel-collector-pod:4317
          - name: REKOR_SERVER_ENDPOINT
            value: https://rekor.{{ tas_single_node_base_hostname }}
          - name: CHECK_INTERVAL_SECONDS
            value: 5
          volumeMounts:
            - name: checkpoint-storage
              mountPath: /data
            - name: host-cert
              mountPath: /rhtas.pem
              subPath: rhtas.pem
      restartPolicy: Always
      volumes:
        - name: checkpoint-storage
          persistentVolumeClaim:
            claimName: rekor-monitor
        - name: host-cert
          hostPath:
            path: {{ tas_single_node_certs_dir }}
