apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ tas_single_node_cli_server_pod }}"
  namespace: cli-server
  labels:
    app.instance: scaffold
    app.name: cli-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app.component: cli-server
      app.instance: scaffold
      app.name: cli-server
  template:
    metadata:
      labels:
        app.component: cli-server
        app.instance: scaffold
        app.name: cli-server
    spec:
      containers:
        - name: cli-server
          image: "{{ tas_single_node_client_server_image }}"
          imagePullPolicy: Always
          ports:
            - containerPort: {{ tas_single_node_cli_server_port_http }}
              protocol: TCP
          volumeMounts:
            - name: apache-config
              mountPath: /var/www/html/index.html
              subPath: index.html
      restartPolicy: Always
      volumes:
        - name: apache-config
          configMap:
            name: apache-config
            defaultMode: 0644
