# cap ansible-core version at 2.19.0 until https://github.com/ansible/ansible-lint/pull/4683
# is released otherwise ansible-lint fails
ansible-core>=2.16.0,<2.19.0
ansible-lint==25.1.2
antsibull-docs==2.20.0
awscli==1.41.9
botocore==1.39.9
boto3==1.39.9
galaxy-importer==0.4.33
molecule==25.1.0