ansible-lint==24.9.2
antsibull-docs==2.14.0
galaxy-importer==0.4.25
molecule==24.9.0
# testing farm should depend on setuptools, but it doesn't; list them here explicitly
setuptools==75.1.0
tft-cli==0.0.20
