# cap ansible-core version at 2.19.0 until https://github.com/ansible/ansible-lint/pull/4683
# is released otherwise ansible-lint fails
ansible-core>=2.16.0,<2.19.0
ansible-lint==25.1.2
antsibull-docs==2.19.1
awscli==1.40.31
botocore==1.39.15
boto3==1.38.32
galaxy-importer==0.4.30
molecule==25.1.0
