apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ tas_single_node_fulcio_pod }}"
  namespace: fulcio-system
  labels:
    app.podman.io/component: fulcio-server
    app.podman.io/part-of: trusted-artifact-signer
    app.name: fulcio-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fulcio-server
  template:
    metadata:
      labels:
        app: fulcio-server
        app.podman.io/component: fulcio
        app.name: fulcio-server
        app.podman.io/part-of: trusted-artifact-signer
    spec:
      automountServiceAccountToken: true
      priority: 0
      containers:
        - name: fulcio-server
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: {{ tas_single_node_fulcio_port_http }}
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          terminationMessagePath: /dev/termination-log
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: {{ tas_single_node_fulcio_port_http }}
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          args:
            - serve
            - --port={{ tas_single_node_fulcio_port_http }}
            - --grpc-port={{ tas_single_node_fulcio_port_grpc }}
            - --metrics-port={{ tas_single_node_fulcio_port_metrics }}
            - --ca=fileca
            - --fileca-key
            - /var/run/fulcio-secrets/key.pem
            - --fileca-cert
            - /var/run/fulcio-secrets/cert.pem
            - --fileca-key-passwd
            - "{{ tas_single_node_fulcio.ca_passphrase }}"
            - "--ct-log-url=http://{{ tas_single_node_ctlog_pod }}-pod:{{ tas_single_node_ctlog_port_http }}/{{ tas_single_node_fulcio.ct_log_prefix }}"
          env:
            - name: SSL_CERT_DIR
              value: /certs
          image: "{{ tas_single_node_fulcio_server_image }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ tas_single_node_fulcio_port_http }}
              protocol: TCP
            - containerPort: {{ tas_single_node_fulcio_port_grpc }}
              protocol: TCP
            - containerPort: {{ tas_single_node_fulcio_port_metrics }}
              protocol: TCP
          resources: {}
          volumeMounts:
{% if tas_single_node_fulcio.trusted_ca != "" %}
            - mountPath: /certs/fulcio-trusted-ca.pem
              name: fulcio-config
              subPath: fulcio-trusted-ca.pem
{% endif %}
            - mountPath: /etc/fulcio-config
              name: fulcio-config
            - mountPath: /var/run/fulcio-secrets
              name: fulcio-cert
              readOnly: true
            - mountPath: /certs
              name: nginx-certs
              readOnly: true
      restartPolicy: Always
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      securityContext:
        runAsNonRoot: true
        runAsUser: 65533
        allowPrivilegeEscalation: false
      serviceAccountName: fulcio-server
      tolerations:
        - effect: NoExecute
          key: node.kubernetes.io/not-ready
          operator: Exists
          tolerationSeconds: 300
        - effect: NoExecute
          key: node.kubernetes.io/unreachable
          operator: Exists
          tolerationSeconds: 300
      volumes:
        - name: fulcio-config
          persistentVolumeClaim:
            claimName: fulcio-config
        - name: fulcio-cert
          persistentVolumeClaim:
            claimName: fulcio-cert
        - name: nginx-certs
          persistentVolumeClaim:
            claimName: nginx-certs
