apiVersion: apps/v1
kind: Deployment
metadata:
  name: tsa-server
  namespace: tsa-system
  labels:
    app.instance: scaffold
    app.name: tsa
    pod-template-hash: 74d5ff6f7f
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tsa-server
  template:
    metadata:
      labels:
        app: tsa-server
        app.instance: scaffold
        app.name: tsa
        pod-template-hash: 74d5ff6f7f
    spec:
      automountServiceAccountToken: true
      containers:
        - name: tsa-server
          image: {{ tas_single_node_timestamp_authority_image }}
          imagePullPolicy: IfNotPresent
          command:
            - "timestamp-server"
          args:
            - "serve"
            - "--host=0.0.0.0"
            - "--port=3002"
            - "--certificate-chain-path=/etc/secrets/cert_chain/certificate-chain.pem"
            - "--timestamp-signer={{ tas_single_node_tsa_signer_type }}"
{% if tas_single_node_tsa_signer_type == 'file' %}
            - "--file-signer-key-path=/etc/secrets/keys/private_key.pem"
            - "--file-signer-passwd={{ tas_single_node_tsa_signer_passphrase }}"
{% endif %}
{% if tas_single_node_tsa_signer_type == 'kms' %}
            - '--kms-key-resource={{ tas_single_node_tsa_kms_key_resource }}"
{% endif %}
{% if tas_single_node_tsa_signer_type == 'tink' %}
            - '--tink-key-resource={{ tas_single_node_tsa_tink_key_resource }}"
            - '--tink-keyset-path=/etc/secrets/keys/encrypted_key_set"
            - '--tink-hcvault-token={{ tas_single_node_tsa_tink_hcvault_token }}"
{% endif %}
          ports:
            - containerPort: 3002
              protocol: TCP
          resources: {}
          volumeMounts:
            - name: tsa-cert-chain
              mountPath: /etc/secrets/cert_chain
              readOnly: true
{% if tas_single_node_tsa_signer_type == 'file' %}
            - name: tsa-file-signer-config
              mountPath: /etc/secrets/keys
              readOnly: true
{% endif %}
{% if tas_single_node_tsa_signer_type == 'tink' %}
            - name: tsa-file-signer-config
              mountPath: /etc/secrets/keys
              readOnly: true
{% endif %}
      restartPolicy: Always
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      securityContext:
        runAsNonRoot: true
        runAsUser: 65533
      serviceAccountName: tsa-server
      tolerations:
        - effect: NoExecute
          key: node.kubernetes.io/not-ready
          operator: Exists
          tolerationSeconds: 300
        - effect: NoExecute
          key: node.kubernetes.io/unreachable
          operator: Exists
          tolerationSeconds: 300
      volumes:
        - name: tsa-cert-chain
          secret:
            secretName: tsa-server-secret
            items:
              - key: certificate-chain.pem
                path: certificate-chain.pem
{% if tas_single_node_tsa_signer_type == 'file' %}
        - name: tsa-file-signer-config
          secret:
            secretName: tsa-server-secret
            items:
              - key: private_key.pem
                path: private_key.pem
{% endif %}
{% if tas_single_node_tsa_signer_type == 'tink' %}
        - name: tsa-file-signer-config
          secret:
            secretName: tsa-server-secret
            items:
              - key: encrypted_key_set
                path: encrypted_key_set
{% endif %}
