---
- name: Confirmed required parameters provided
  ansible.builtin.assert:
    that:
      - tas_single_node_base_hostname is defined
      - tas_single_node_base_hostname | trim | length > 0
    msg: "'tas_single_node_base_hostname' must be specified"

- name: Create Certificates Directory
  become: true
  ansible.builtin.file:
    state: directory
    dest: "{{ tas_single_node_certs_dir }}"
    mode: "0700"

- name: List files in certs directory
  become: true
  ansible.builtin.find:
    file_type: file
    paths: "{{ tas_single_node_certs_dir }}"
  register: certs_dir_files

- name: Create Local Certificates Directory
  ansible.builtin.file:
    state: directory
    dest: "{{ tas_single_node_local_certs_dir }}"
    mode: "0700"
  delegate_to: localhost

- name: Create private key (RSA, 4096 bits)
  community.crypto.openssl_privatekey:
    path: "{{ tas_single_node_local_private_key }}"
  delegate_to: localhost
  when: (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_private_key) | list | length) == 0

- name: Create Root CA
  delegate_to: localhost
  when: (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_ca) | list | length) == 0
  block:
    - name: Create certificate signing request (CSR) for CA certificate
      community.crypto.openssl_csr_pipe:
        privatekey_path: "{{ tas_single_node_local_private_key }}"
        common_name: "{{ tas_single_node_base_hostname }}"
        use_common_name_for_san: false
        basic_constraints:
          - CA:TRUE
        basic_constraints_critical: true
        key_usage:
          - keyCertSign
        key_usage_critical: true
      register: ca_csr

    - name: Create self-signed CA certificate from CSR
      community.crypto.x509_certificate:
        path: "{{ tas_single_node_local_ca }}"
        csr_content: "{{ ca_csr.csr }}"
        privatekey_path: "{{ tas_single_node_local_private_key }}"
        provider: selfsigned
        selfsigned_not_after: +365d # valid for one year

- name: Create Ingress Certificates
  ansible.builtin.include_tasks: create_ingress_cert.yml
  loop:
    - fulcio
    - rekor
    - tuf
    - tsa
    - rekor-search
  loop_control:
    loop_var: cert_name
  vars:
    existing_files: "{{ certs_dir_files }}"
    local_ca_key_path: "{{ tas_single_node_local_private_key }}"
    local_ca_cert_path: "{{ tas_single_node_local_ca }}"
    remote_ca_key_path: "{{ tas_single_node_remote_private_key }}"
    remote_ca_cert_path: "{{ tas_single_node_remote_ca }}"
    dns_name: "{{ cert_name }}.{{ tas_single_node_base_hostname }}"

- name: Create fulcio root
  delegate_to: localhost
  when: >
    (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_fulcio_private_key) | list | length) == 0
    or (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_fulcio_public_key) | list | length) == 0
    or (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_fulcio_root_ca) | list | length) == 0

  block:
    - name: Create Fulcio Private Key
      community.crypto.openssl_privatekey:
        path: "{{ tas_single_node_local_fulcio_private_key }}"
        curve: secp256r1
        type: ECC
        passphrase: "{{ tas_single_node_fulcio_ca_passphrase }}"
        cipher: auto

    - name: Create Fulcio Public Key
      community.crypto.openssl_publickey:
        path: "{{ tas_single_node_local_fulcio_public_key }}"
        privatekey_path: "{{ tas_single_node_local_fulcio_private_key }}"
        privatekey_passphrase: "{{ tas_single_node_fulcio_ca_passphrase }}"

    - name: Create certificate signing request (CSR) for Fulcio Root certificate
      community.crypto.openssl_csr_pipe:
        privatekey_path: "{{ tas_single_node_local_fulcio_private_key }}"
        privatekey_passphrase: "{{ tas_single_node_fulcio_ca_passphrase }}"
        basic_constraints:
          - CA:TRUE
        basic_constraints_critical: true
        key_usage:
          - keyCertSign
        key_usage_critical: true
      register: fulcio_root_csr

    - name: Create self-signed Fulcio root from CSR
      community.crypto.x509_certificate:
        path: "{{ tas_single_node_local_fulcio_root_ca }}"
        csr_content: "{{ fulcio_root_csr.csr }}"
        privatekey_path: "{{ tas_single_node_local_fulcio_private_key }}"
        privatekey_passphrase: "{{ tas_single_node_fulcio_ca_passphrase }}"
        provider: selfsigned

- name: Create ctlog root
  delegate_to: localhost
  when: >
    (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_ctlog_private_key) | list | length) == 0
    or (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_ctlog_public_key) | list | length) == 0

  block:
    - name: Create ctlog Private Key
      community.crypto.openssl_privatekey:
        path: "{{ tas_single_node_local_ctlog_private_key }}"
        curve: secp256r1
        type: ECC
        passphrase: "{{ tas_single_node_ctlog_ca_passphrase }}"
        cipher: auto
    - name: Create ctlog Public Key
      community.crypto.openssl_publickey:
        path: "{{ tas_single_node_local_ctlog_public_key }}"
        privatekey_path: "{{ tas_single_node_local_ctlog_private_key }}"
        privatekey_passphrase: "{{ tas_single_node_ctlog_ca_passphrase }}"

- name: Handle TSA certificate chain
  delegate_to: localhost
  block:
    - name: Create TSA root Private Key
      community.crypto.openssl_privatekey:
        path: "{{ tas_single_node_local_tsa_private_key }}"
        curve: secp256r1
        type: ECC
        passphrase: "{{ tas_single_node_tsa_ca_passphrase }}"
        cipher: auto
      when: >
        (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_tsa_private_key) | list | length) == 0
        and (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_tsa_certificate_chain) | list | length) == 0
        and tas_single_node_signer_type == 'file'

    - name: Create certificate signing request (CSR) for TSA Root certificate
      community.crypto.openssl_csr_pipe:
        privatekey_path: "{{ tas_single_node_local_tsa_private_key }}"
        privatekey_passphrase: "{{ tas_single_node_tsa_ca_passphrase }}"
        common_name: "Root CA"
        basic_constraints:
          - CA:TRUE
        basic_constraints_critical: true
        key_usage:
          - keyCertSign
      register: tsa_root_csr
      when: >
        (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_tsa_certificate_chain) | list | length) == 0
        and tas_single_node_signer_type == 'file'

    - name: Create self-signed TSA root CA from CSR
      community.crypto.x509_certificate:
        path: "{{ tas_single_node_local_tsa_certificate_chain }}"
        csr_content: "{{ tsa_root_csr.csr }}"
        privatekey_path: "{{ tas_single_node_local_tsa_private_key }}"
        privatekey_passphrase: "{{ tas_single_node_tsa_ca_passphrase }}"
        provider: selfsigned
      when: >
        (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_tsa_certificate_chain) | list | length) == 0
        and tas_single_node_signer_type == 'file'

    # Intermediate certificate
    - name: Create TSA intermediate CA Private Key
      community.crypto.openssl_privatekey:
        path: "{{ tas_single_node_local_tsa_signer_private_key }}"
        curve: secp256r1
        type: ECC
        passphrase: "{{ tas_single_node_tsa_ca_passphrase }}"
        cipher: auto
      when: >
        (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_tsa_certificate_chain) | list | length) == 0
        and (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_tsa_signer_private_key) | list | length) == 0
        and tas_single_node_signer_type == 'file'

    - name: Create TSA intermediate CA CSR
      community.crypto.openssl_csr_pipe:
        privatekey_path: "{{ tas_single_node_local_tsa_signer_private_key }}"
        privatekey_passphrase: "{{ tas_single_node_tsa_signer_passphrase }}"
        common_name: "Intermediate CA"
        basic_constraints:
          - CA:TRUE
        basic_constraints_critical: true
        key_usage:
          - keyCertSign
        extended_key_usage:
          - "1.3.6.1.5.5.7.3.8"
        extended_key_usage_critical: true
      register: tsa_intermediate_csr
      when: >
        (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_tsa_certificate_chain) | list | length) == 0
        and tas_single_node_signer_type == 'file'

    - name: Sign Intermediate CA with Root CA
      community.crypto.x509_certificate:
        path: "{{ tas_single_node_local_tsa_intermediate_certificate }}"
        csr_content: "{{ tsa_intermediate_csr.csr }}"
        ownca_path: "{{ tas_single_node_local_tsa_certificate_chain }}"
        ownca_privatekey_path: "{{ tas_single_node_local_tsa_private_key }}"
        ownca_privatekey_passphrase: "{{ tas_single_node_tsa_ca_passphrase }}"
        provider: ownca
      when: >
        (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_tsa_certificate_chain) | list | length) == 0
        and tas_single_node_signer_type == 'file'

    - name: Combine Intermediate and Root CA certificates into a chain
      ansible.builtin.command: >
        /bin/bash -c '
        cat {{ tas_single_node_local_tsa_intermediate_certificate }} {{ tas_single_node_local_tsa_certificate_chain }} > /tmp/certificate-chain.tmp &&
        mv /tmp/certificate-chain.tmp {{ tas_single_node_local_tsa_certificate_chain }};'
      register: result
      changed_when: "'changed' in result.stdout"
      when: >
        (certs_dir_files.files | selectattr('path', 'equalto', tas_single_node_remote_tsa_certificate_chain) | list | length) == 0
        and tas_single_node_signer_type == 'file'

- name: Copy Certificates to Server
  become: true
  ansible.builtin.copy:
    src: "{{ tas_single_node_local_certs_dir }}/"
    dest: "{{ tas_single_node_certs_dir }}"
    force: true
    mode: "0600"

- name: Remove Local Certificate Directory
  ansible.builtin.file:
    state: absent
    dest: "{{ tas_single_node_local_certs_dir }}"
  delegate_to: localhost
