---
<<<<<<< HEAD
- name: Importing default values
  ansible.builtin.import_tasks: set_defaults.yml
=======
- import_tasks: set_defaults.yml
>>>>>>> 93e605b (Fix handling of default values in nested variables)

- name: Check configuration correctness
  ansible.builtin.include_tasks: configuration_check.yml

- name: Check OS Support
  ansible.builtin.include_tasks: os_support.yml

- name: Install Operating System Components
  ansible.builtin.include_tasks: os.yml
  when: not tas_single_node_skip_os_install

- name: Create cockpit-user
  ansible.builtin.user:
    name: "{{ tas_single_node_cockpit.user.username }}"
    shell: /bin/bash
    group: wheel
    password: "{{ tas_single_node_cockpit.user.password | password_hash('sha512') }}"
    create_home: true
  when:
    - tas_single_node_cockpit.enabled | bool
    - tas_single_node_cockpit.user.create | bool

- name: Install Cockpit
  ansible.builtin.include_role:
    name: redhat.rhel_system_roles.cockpit
  vars:
    cockpit_packages:
      - cockpit-storaged
      - cockpit-podman
      - cockpit
    cockpit_manage_firewall: true
  when: tas_single_node_cockpit.enabled | bool

- name: Create Certificates
  ansible.builtin.include_tasks: certificates.yml

- name: Execute Podman Actions
  ansible.builtin.include_tasks: podman.yml
