---
- name: Create RHTAS network
  containers.podman.podman_network:
    name: "{{ tas_single_node_podman_network }}"

- name: Create Manifests/Configs Directory
  ansible.builtin.file:
    state: directory
    dest: "{{ item }}"
    mode: "0700"
  loop:
    - "{{ tas_single_node_kube_manifest_dir }}"
    - "{{ tas_single_node_kube_configmap_dir }}"

- name: Podman login to registry.redhat.io
  ansible.builtin.command: podman login registry.redhat.io -u '{{ tas_single_node_registry_username }}' --password {{ tas_single_node_registry_password }}
  register: podman_login_result
  changed_when: '"Already logged in" not in podman_login_result'

- name: Define images base list
  ansible.builtin.set_fact:
    images_list: [
      "{{ tas_single_node_fulcio_server_image }}",
      "{{ tas_single_node_trillian_log_server_image }}",
      "{{ tas_single_node_trillian_logsigner_image }}",
      "{{ tas_single_node_rekor_image }}",
      "{{ tas_single_node_ct_server_image }}",
      "{{ tas_single_node_tuf_image }}",
      "{{ tas_single_node_netcat_image }}",
      "{{ tas_single_node_nginx_image }}",
      "{{ tas_single_node_tsa_image }}",
    ]

- name: Add Redis image to the list
  ansible.builtin.set_fact:
    images_list: "{{ images_list + ['{{ tas_single_node_redis_image }}'] }}"
  when: tas_single_node_rekor_redis.database_deploy

- name: Add Trillian DB image to the list
  ansible.builtin.set_fact:
    images_list: "{{ images_list + ['{{ tas_single_node_trillian_db_image }}'] }}"
  when: tas_single_node_trillian.database_deploy

- name: Pull all images
  containers.podman.podman_image:
    name: "{{ item }}"
  vars:
    enabled_vals: [
      "{{ tas_single_node_fulcio_enabled }}",
      "{{ tas_single_node_trillian_enabled }}",
      "{{ tas_single_node_trillian_enabled }}",
      "{{ tas_single_node_rekor_enabled }}",
      "{{ tas_single_node_ctlog_enabled }}",
      "{{ tas_single_node_rekor_enabled }}",
      "{{ tas_single_node_trillian_enabled }}",
      "{{ tas_single_node_tuf_enabled }}",
      "{{ tas_single_node_trillian_enabled }}",
      "{{ tas_single_node_tsa_enabled }}",
      "true",
    ]
  loop: "{{ images_list }}"
  loop_control:
    index_var: idx
  when: enabled_vals[idx] | bool

- name: Configure/Deploy nginx
  ansible.builtin.include_tasks: podman/nginx.yml

- name: Configure/Deploy Trillian
  ansible.builtin.include_tasks: podman/trillian.yml
  when: tas_single_node_trillian_enabled | bool

- name: Setup Trillian Tree ID
  ansible.builtin.include_tasks: podman/createtree.yml
  when: tas_single_node_trillian_enabled | bool

- name: Configure/Deploy Rekor
  ansible.builtin.include_tasks: podman/rekor.yml
  when: tas_single_node_rekor_enabled | bool

# - name: Configure/Deploy Fulcio
#   ansible.builtin.include_tasks: podman/fulcio.yml
#   when: tas_single_node_fulcio_enabled | bool

# - name: Configure/Deploy ctlog
#   ansible.builtin.include_tasks: podman/ctlog.yml
#   when: tas_single_node_ctlog_enabled | bool

# - name: Configure/Deploy tuf
#   ansible.builtin.include_tasks: podman/tuf.yml
#   when: tas_single_node_tuf_enabled | bool

# - name: Configure/Deploy TSA
#   ansible.builtin.include_tasks: podman/tsa.yml
#   when: tas_single_node_tsa_enabled | bool
