---
- name: Check if RHTAS network exists
  ansible.builtin.command:
    cmd: "podman network inspect {{ tas_single_node_podman_network }}"
  register: network_inspect_result
  failed_when: false
  changed_when: false

- name: Create RHTAS network
  ansible.builtin.command:
    cmd: "podman network create {{ tas_single_node_podman_network }}"
  when: network_inspect_result.rc != 0
  changed_when: true

- name: Create Manifests/Configs Directory
  ansible.builtin.file:
    state: directory
    dest: "{{ item }}"
    mode: "0700"
  loop:
    - "{{ tas_single_node_kube_manifest_dir }}"
    - "{{ tas_single_node_kube_configmap_dir }}"

- name: Check if Podman is already logged in to registry.redhat.io
  ansible.builtin.command: podman login --get-login registry.redhat.io
  register: logincheck
  failed_when: logincheck.stdout == 'Error":" not logged into registry.redhat.io'
  changed_when: logincheck.stdout | string != tas_single_node_registry_username | string

- name: Podman login to registry.redhat.io
  ansible.builtin.command: podman login registry.redhat.io -u '{{ tas_single_node_registry_username }}' --password {{ tas_single_node_registry_password }}
  register: podman_login_result
  when: logincheck.stdout | string != tas_single_node_registry_username | string
  changed_when: true
  no_log: true

- name: Pull all images
  ansible.builtin.command:
    cmd: "podman pull {{ item }}"
  vars:
    enabled_vals: [
      "{{ tas_single_node_fulcio_enabled }}",
      "{{ tas_single_node_trillian_enabled }}",
      "{{ tas_single_node_trillian_enabled }}",
      "{{ tas_single_node_rekor_enabled }}",
      "{{ tas_single_node_rekor_enabled and tas_single_node_rekor.monitor.enabled }}",
      "{{ tas_single_node_ctlog_enabled }}",
      "{{ tas_single_node_ctlog_enabled and tas_single_node_ctlog.monitor.enabled }}",
      "{{ tas_single_node_rekor_enabled and tas_single_node_rekor_redis.database_deploy }}",
      "{{ tas_single_node_rekor_enabled and tas_single_node_rekor_redis.database_deploy and tas_single_node_backfill_redis.enabled }}",
      "{{ tas_single_node_trillian_enabled and tas_single_node_trillian.database_deploy }}",
      "{{ tas_single_node_tuf_enabled }}",
      "{{ tas_single_node_tuf_enabled }}",
      "{{ tas_single_node_trillian_enabled }}",
      "true",
      "{{ tas_single_node_tsa_enabled }}",
      "{{ tas_single_node_rekor_search_enabled }}",
      "{{ tas_single_node_client_server_enabled }}",
      "{{ tas_single_node_createtree_enabled }}"
    ]
  loop:
    - "{{ tas_single_node_fulcio_server_image }}"
    - "{{ tas_single_node_trillian_log_server_image }}"
    - "{{ tas_single_node_trillian_log_signer_image }}"
    - "{{ tas_single_node_rekor_server_image }}"
    - "{{ tas_single_node_rekor_monitor_image }}"
    - "{{ tas_single_node_ctlog_image }}"
    - "{{ tas_single_node_ctlog_monitor_image }}"
    - "{{ tas_single_node_rekor_redis_image }}"
    - "{{ tas_single_node_backfill_redis_image }}"
    - "{{ tas_single_node_trillian_db_image }}"
    - "{{ tas_single_node_tuf_image }}"
    - "{{ tas_single_node_http_server_image }}"
    - "{{ tas_single_node_trillian_netcat_image }}"
    - "{{ tas_single_node_nginx_image }}"
    - "{{ tas_single_node_timestamp_authority_image }}"
    - "{{ tas_single_node_rekor_search_ui_image }}"
    - "{{ tas_single_node_client_server_image }}"
    - "{{ tas_single_node_createtree_image }}"
  loop_control:
    index_var: idx
  when: enabled_vals[idx] | bool
  changed_when: false
  # NOTE: there's no way to tell if "podman pull" actually changed something;
  # we also can't be 100 % certain if the required image is pulled before pulling,
  # because the user might use a tag instead of of digest and hence we need to try
  # pulling again anyway. Podman output doesn't tell us if the image already existed
  # or not: https://github.com/containers/podman/issues/13582
  # Hence, we just set changed_when: false, which is fine because we're not using
  # the result of this task anywhere.

- name: Configure/Deploy nginx
  ansible.builtin.include_tasks: podman/nginx.yml

- name: Configure/Deploy CLI Server
  ansible.builtin.include_tasks: podman/cli_server.yml
  when: tas_single_node_client_server_enabled | bool

- name: Configure/Deploy Trillian
  ansible.builtin.include_tasks: podman/trillian.yml
  when: tas_single_node_trillian_enabled | bool

- name: Configure/Deploy Rekor
  ansible.builtin.include_tasks: podman/rekor.yml
  when: tas_single_node_rekor_enabled | bool

- name: Configure/Deploy Fulcio
  ansible.builtin.include_tasks: podman/fulcio.yml
  when: tas_single_node_fulcio_enabled | bool

- name: Configure/Deploy ctlog
  ansible.builtin.include_tasks: podman/ctlog.yml
  when: tas_single_node_ctlog_enabled | bool

- name: Configure/Deploy tuf
  ansible.builtin.include_tasks: podman/tuf.yml
  when: tas_single_node_tuf_enabled | bool

- name: Configure/Deploy TSA
  ansible.builtin.include_tasks: podman/tsa.yml
  when: tas_single_node_tsa_enabled | bool

- name: Configure/Deploy RekorSearch
  ansible.builtin.include_tasks: podman/rekor_search.yml
  when: tas_single_node_rekor_search_enabled | bool

- name: Configure/Deploy RekorMonitor
  ansible.builtin.include_tasks: podman/rekor_monitor.yml
  when: tas_single_node_rekor.monitor.enabled | bool

- name: Configure/Deploy CtlogMonitor
  ansible.builtin.include_tasks: podman/ctlog_monitor.yml
  when: tas_single_node_ctlog.monitor.enabled | bool
