---
- name: Obtain Trillian Tree ID
  ansible.builtin.include_tasks: podman/createtree.yml

- name: Create Rekor Sharding ConfigMap
  ansible.builtin.copy:
    content: "{{ configmap_content | to_nice_yaml(indent=2) }}"
    dest: "{{ tas_single_node_rekor_sharding_config }}"
    mode: "0600"
  vars:
    configmap_content:
      kind: ConfigMap
      apiVersion: v1
      metadata:
        name: rekor-sharding-config
        namespace: rekor-system
      data:
        sharding-config.yaml: ""
  register: configmap_result

- name: Deploy Rekor Redis Pod
  ansible.builtin.include_tasks: podman/install_manifest.yml
  vars:
    podman_spec:
      state: started
      systemd_file: redis
      network: "{{ tas_single_node_podman_network }}"
      kube_file_content: "{{ lookup('ansible.builtin.template', 'manifests/rekor/redis-server.j2') | from_yaml }}"
  when: tas_single_node_rekor_redis.database_deploy

- name: Deploy Rekor Server Pod
  ansible.builtin.include_tasks: podman/install_manifest.yml
  vars:
    podman_spec:
      state: started
      systemd_file: rekor
      network: "{{ tas_single_node_podman_network }}"
      kube_file_content: "{{ lookup('ansible.builtin.template', 'manifests/rekor/rekor-server.j2') | from_yaml }}"
      configmap: "{{ tas_single_node_rekor_sharding_config }}"
      configmap_changed: "{{ configmap_result.changed }}"
