---
- name: Set unified database configuration (backward compatible)
  ansible.builtin.set_fact:
    tas_db_config: >-
      {{ tas_single_node_trillian.db | default(tas_single_node_trillian.mysql, true) | default({}) }}

- name: Show deprecation warning when old mysql key is used
  ansible.builtin.debug:
    msg: |
      DEPRECATION WARNING:
      You are using the deprecated 'mysql' key under
      tas_single_node_trillian.
      Please migrate to the new 'db' key.
      The 'mysql' key will be removed in the next major release.
  when:
    - tas_single_node_trillian.mysql is defined
    - tas_single_node_trillian.db is not defined
  run_once: true
  delegate_to: localhost

- name: Create Trillian Secret
  ansible.builtin.copy:
    content: "{{ secret_content | to_nice_yaml(indent=2) }}"
    dest: "{{ tas_single_node_trillian_secret }}"
    mode: "0600"
  vars:
    secret_content: >-
      {{
        mysql_secret if tas_single_node_trillian.provider | default('mysql') == 'mysql'
        else postgres_secret
      }}

    mysql_secret:
      kind: Secret
      apiVersion: v1
      metadata:
        name: trillian-mysql
        namespace: trillian-system
      data:
        mysql-root-password: "{{ tas_db_config.root_password | b64encode }}"
        mysql-password: "{{ tas_db_config.password | b64encode }}"
        mysql-database: "{{ tas_db_config.database | b64encode }}"
        mysql-user: "{{ tas_db_config.user | b64encode }}"

    postgres_secret:
      kind: Secret
      apiVersion: v1
      metadata:
        name: trillian-db
        namespace: trillian-system
      data:
        db-password: "{{ tas_db_config.password | b64encode }}"
        db-database: "{{ tas_db_config.database | b64encode }}"
        db-user: "{{ tas_db_config.user | b64encode }}"
  register: secret_result

- name: Create Trillian CA certificate ConfigMap (with default empty value if not provided)
  ansible.builtin.copy:
    content: "{{ configmap_content | to_nice_yaml(indent=2) }}"
    dest: "{{ tas_single_node_trillian_trusted_ca_configmap }}"
    mode: "0600"
  vars:
    configmap_content:
      kind: ConfigMap
      apiVersion: v1
      metadata:
        name: "{{ tas_single_node_trillian_trusted_ca_configmap_name }}"
        namespace: trillian-system
      data:
        trillian-trusted-ca.pem: |
          {{ tas_single_node_trillian.trusted_ca }}
  register: configmap_result

- name: Build Trillian Database Manifest specs
  ansible.builtin.include_tasks: podman/install_manifest.yml
  vars:
    podman_spec:
      state: started
      systemd_file: trillian-mysql
      network: "{{ tas_single_node_podman_network }}"
      kube_file_content: "{{ lookup('ansible.builtin.template', 'manifests/trillian/trillian-mysql.j2') | from_yaml }}"
      secret: "{{ tas_single_node_trillian_secret }}"
      secret_changed: "{{ secret_result.changed }}"
  when: tas_single_node_trillian.database_deploy

- name: Build Trillian Log Signer Manifest specs
  ansible.builtin.include_tasks: podman/install_manifest.yml
  vars:
    podman_spec:
      state: started
      systemd_file: trillian-signer
      network: "{{ tas_single_node_podman_network }}"
      kube_file_content: "{{ lookup('ansible.builtin.template', 'manifests/trillian/trillian-logsigner.j2') | from_yaml }}"
      secret: "{{ tas_single_node_trillian_secret }}"
      secret_changed: "{{ secret_result.changed }}"
      configmap: "{{ tas_single_node_trillian_trusted_ca_configmap }}"
      configmap_changed: "{{ configmap_result.changed | default('false') }}"

- name: Build Trillian Log Server Manifest specs
  ansible.builtin.include_tasks: podman/install_manifest.yml
  vars:
    podman_spec:
      state: started
      systemd_file: trillian-server
      network: "{{ tas_single_node_podman_network }}"
      kube_file_content: "{{ lookup('ansible.builtin.template', 'manifests/trillian/trillian-logserver.j2') | from_yaml }}"
      secret: "{{ tas_single_node_trillian_secret }}"
      secret_changed: "{{ secret_result.changed }}"
      configmap: "{{ tas_single_node_trillian_trusted_ca_configmap }}"
      configmap_changed: "{{ configmap_result.changed | default('false') }}"
