---
- name: Create Trillian Secret
  ansible.builtin.copy:
    content: "{{ secret_content | to_nice_yaml(indent=2) }}"
    dest: "{{ tas_single_node_trillian_secret }}"
    mode: "0600"
  vars:
    secret_content:
      kind: Secret
      apiVersion: v1
      metadata:
        name: trillian-db
        namespace: trillian-system
      data:
        db-root-password: "{{ tas_single_node_trillian.db.root_password | default('') | b64encode }}"
        db-password: "{{ tas_single_node_trillian.db.password | b64encode }}"
        db-database: "{{ tas_single_node_trillian.db.database | b64encode }}"
        db-user: "{{ tas_single_node_trillian.db.user | b64encode }}"
  register: secret_result

- name: Create Trillian CA certificate ConfigMap (with default empty value if not provided)
  ansible.builtin.copy:
    content: "{{ configmap_content | to_nice_yaml(indent=2) }}"
    dest: "{{ tas_single_node_trillian_trusted_ca_configmap }}"
    mode: "0600"
  vars:
    configmap_content:
      kind: ConfigMap
      apiVersion: v1
      metadata:
        name: "{{ tas_single_node_trillian_trusted_ca_configmap_name }}"
        namespace: trillian-system
      data:
        trillian-trusted-ca.pem: |
          {{ tas_single_node_trillian.trusted_ca }}
  register: configmap_result

- name: Build Trillian Database Manifest specs
  ansible.builtin.include_tasks: podman/install_manifest.yml
  vars:
    podman_spec:
      state: started
      systemd_file: trillian-mysql
      network: "{{ tas_single_node_podman_network }}"
      kube_file_content: "{{ lookup('ansible.builtin.template', 'manifests/trillian/trillian-mysql.j2') | from_yaml }}"
      secret: "{{ tas_single_node_trillian_secret }}"
      secret_changed: "{{ secret_result.changed }}"
  when: tas_single_node_trillian.database_deploy

- name: Build Trillian Log Signer Manifest specs
  ansible.builtin.include_tasks: podman/install_manifest.yml
  vars:
    podman_spec:
      state: started
      systemd_file: trillian-signer
      network: "{{ tas_single_node_podman_network }}"
      kube_file_content: "{{ lookup('ansible.builtin.template', 'manifests/trillian/trillian-logsigner.j2') | from_yaml }}"
      secret: "{{ tas_single_node_trillian_secret }}"
      secret_changed: "{{ secret_result.changed }}"
      configmap: "{{ tas_single_node_trillian_trusted_ca_configmap }}"
      configmap_changed: "{{ configmap_result.changed | default('false') }}"

- name: Build Trillian Log Server Manifest specs
  ansible.builtin.include_tasks: podman/install_manifest.yml
  vars:
    podman_spec:
      state: started
      systemd_file: trillian-server
      network: "{{ tas_single_node_podman_network }}"
      kube_file_content: "{{ lookup('ansible.builtin.template', 'manifests/trillian/trillian-logserver.j2') | from_yaml }}"
      secret: "{{ tas_single_node_trillian_secret }}"
      secret_changed: "{{ secret_result.changed }}"
      configmap: "{{ tas_single_node_trillian_trusted_ca_configmap }}"
      configmap_changed: "{{ configmap_result.changed | default('false') }}"
