---
# defaults file for tas_single_node
tas_single_node_system_packages:
  - podman
  - podman-plugins
  - firewalld

tas_single_node_podman_network: rhtas

tas_single_node_cockpit:
  enabled: true
  cockpit_packages:
    - cockpit-storaged
    - cockpit-podman
    - cockpit
  cockpit_manage_firewall: true

tas_single_node_rekor_redis:
  database_deploy: true
  redis:
    address: rekor-redis-pod
    port: 6379
    password: password

tas_single_node_trillian:
  database_deploy: true
  mysql:
    user: mysql
    rootPassword: rootpassword
    password: password
    database: trillian
    host: trillian-mysql-pod
    port: 3306

tas_single_node_rekor_public_key_retries: 5
tas_single_node_rekor_public_key_delay: 10

tas_single_node_setup_host_dns: true
tas_single_node_base_hostname: ""

tas_single_node_kms_key_resource: ""
tas_single_node_tink_key_resource: ""
tas_single_node_tsa_tink_keyset: ""
tas_single_node_tink_hcvault_token: ""

tas_single_node_skip_os_install: false
tas_single_node_cockpit_enabled: true
tas_single_node_trillian_enabled: true
tas_single_node_rekor_enabled: true
tas_single_node_ctlog_enabled: true
tas_single_node_tuf_enabled: true
tas_single_node_tsa_enabled: true
tas_single_node_fulcio_enabled: true
tas_single_node_rekor_search_enabled: true

tas_single_node_oidc_issuers:
  - issuer: https://keycloak-keycloak-system.apps.platform-sts.pcbk.p1.openshiftapps.com/auth/realms/trusted-artifact-signer
    client_id: trusted-artifact-signer
    url: https://keycloak-keycloak-system.apps.platform-sts.pcbk.p1.openshiftapps.com/auth/realms/trusted-artifact-signer
    type: email

tas_single_node_meta_issuers: []

tas_single_node_fulcio_server_image:
  "registry.redhat.io/rhtas/fulcio-rhel9@sha256:67495de82e2fcd2ab4ad0e53442884c392da1aa3f5dd56d9488a1ed5df97f513"
tas_single_node_trillian_log_server_image:
  "registry.redhat.io/rhtas/trillian-logserver-rhel9@sha256:994a860e569f2200211b01f9919de11d14b86c669230184c4997f3d875c79208"
tas_single_node_trillian_logsigner_image:
  "registry.redhat.io/rhtas/trillian-logsigner-rhel9@sha256:37028258a88bba4dfaadb59fc88b6efe9c119a808e212ad5214d65072abb29d0"
tas_single_node_rekor_image:
  "registry.redhat.io/rhtas/rekor-server-rhel9@sha256:133ee0153e12e6562cfea1a74914ebdd7ee76ae131ec7ca0c3e674c2848150ae"
tas_single_node_ct_server_image:
  "registry.redhat.io/rhtas/certificate-transparency-rhel9@sha256:a0c7d71fc8f4cb7530169a6b54dc3a67215c4058a45f84b87bb04fc62e6e8141"
tas_single_node_redis_image:
  "registry.redhat.io/rhtas/trillian-redis-rhel9@sha256:01736bdd96acbc646334a1109409862210e5273394c35fb244f21a143af9f83e"
tas_single_node_trillian_db_image:
  "registry.redhat.io/rhtas/trillian-database-rhel9@sha256:909f584804245f8a9e05ecc4d6874c26d56c0d742ba793c1a4357a14f5e67eb0"
tas_single_node_tuf_image:
  "registry.redhat.io/rhtas/tuf-server-rhel9@sha256:34f5cdc53a908ae2819d85ab18e35b69dc4efc135d747dd1d2e216a99a2dcd1b"
tas_single_node_netcat_image:
  "registry.redhat.io/openshift4/ose-tools-rhel8@sha256:486b4d2dd0d10c5ef0212714c94334e04fe8a3d36cf619881986201a50f123c7"
tas_single_node_nginx_image:
  "registry.redhat.io/rhel9/nginx-124@sha256:71fc4492c3a632663c1e17ec9364d87aa7bd459d3c723277b8b94a949b84c9fe"
tas_single_node_tsa_image:
  "registry.redhat.io/rhtas/timestamp-authority-rhel9@sha256:3fba2f8cd09548d2bd2dfff938529952999cb28ff5b7ea42c1c5e722b8eb827f"
tas_single_node_rekor_search_image:
  "registry.redhat.io/rhtas/rekor-search-ui-rhel9@sha256:8c478fc6122377c6c9df0fddf0ae42b6f6b1648e3c6cf96a0558f366e7921b2b"
