---
# defaults file for tas_single_node
tas_single_node_registry_username: ""
tas_single_node_registry_password: ""

tas_single_node_podman_network: rhtas

tas_single_node_rekor_redis:
  database_deploy: true
  redis:
    host: rekor-redis-pod
    port: 6379
    password: password

tas_single_node_trillian:
  database_deploy: true
  mysql:
    user: mysql
    root_password: rootpassword
    password: password
    database: trillian
    host: trillian-mysql-pod
    port: 3306

tas_single_node_rekor_public_key_retries: 5
tas_single_node_rekor_public_key_delay: 10

tas_single_node_setup_host_dns: true
tas_single_node_base_hostname: ""

tas_single_node_tsa_signer_type: file
tas_single_node_tsa_kms_key_resource: ""
tas_single_node_tsa_tink_key_resource: ""
tas_single_node_tsa_tink_keyset: ""
tas_single_node_tsa_tink_hcvault_token: ""

tas_single_node_skip_os_install: false

tas_single_node_oidc_issuers: []

tas_single_node_meta_issuers: []

# When adding or altering names for our images, consult the mapping in https://github.com/securesign/structural-tests
# To avoid breaking our structural tests

tas_single_node_fulcio_server_image:
  "registry.redhat.io/rhtas/fulcio-rhel9@sha256:a1f0c021e9e291394eec61fdd07068466d59a58d61c60e27300a9bae49acb648"
tas_single_node_trillian_log_server_image:
  "registry.redhat.io/rhtas/trillian-logserver-rhel9@sha256:ccf05883ab992fcf6c3058e6d897c4ce85c13aad54a96499ddeff4a5f056a834"
tas_single_node_trillian_log_signer_image:
  "registry.redhat.io/rhtas/trillian-logsigner-rhel9@sha256:d438373fc3b53b0e318098fc5587e265c0603d7ab3e11fb9819e747a5e2f18a6"
tas_single_node_rekor_server_image:
  "registry.redhat.io/rhtas/rekor-server-rhel9@sha256:ba9c0c19aaf682f5cb31aa810da9f7be762a965a2840841880d8a74dac2513f6"
tas_single_node_ctlog_image:
  "registry.redhat.io/rhtas/certificate-transparency-rhel9@sha256:053ce379d83675818ddb6f5869bc986d1e210ef8607d081b6b05eb4d4255aa82"
tas_single_node_rekor_redis_image:
  "registry.redhat.io/rhtas/trillian-redis-rhel9@sha256:c89a4891a7054b5cd3774358406ed87eba0ce547dbfd958fb61b0de24140a963"
tas_single_node_trillian_db_image:
  "registry.redhat.io/rhtas/trillian-database-rhel9@sha256:ffa1f4f94eb91169c39e5477c0d10ed3020d5fb792651f7464c6465c9d8f558c"
tas_single_node_tuf_image:
  "registry.redhat.io/rhtas/tuf-server-rhel9@sha256:982c7774d0cd9e75dc6534a8f4b17ea8dfbd930d11350bc626cc7d6f7b5ed535"
tas_single_node_trillian_netcat_image:
  "registry.redhat.io/openshift4/ose-tools-rhel8@sha256:486b4d2dd0d10c5ef0212714c94334e04fe8a3d36cf619881986201a50f123c7"
tas_single_node_nginx_image:
  "registry.redhat.io/rhel9/nginx-124@sha256:71fc4492c3a632663c1e17ec9364d87aa7bd459d3c723277b8b94a949b84c9fe"
tas_single_node_timestamp_authority_image:
  "registry.redhat.io/rhtas/timestamp-authority-rhel9@sha256:d957041e1f10faf087333b9f1d39b2bb4b26edd37a812192e67771c423950def"
tas_single_node_rekor_search_ui_image:
  "registry.redhat.io/rhtas/rekor-search-ui-rhel9@sha256:e01cfb64b011a14a243701a992b7fc3dbc9d7a181bea5cebcfc28593613f7950"
# Create Tree
tas_single_node_createtree_image: "registry.redhat.io/rhtas/trillian-createtree-rhel9@sha256:c089ee74ce7781f6ac356ff6959bf4e4f520abc0e08820fe891c65b50c8b1e5b"
# CLI Server
tas_single_node_client_server_image: "registry.redhat.io/rhtas/client-server-rhel9@sha256:c234844ce59fd49960fa84c417872eefaa836559b88cead4ada1b1ffb56c8c21"