---
# defaults file for tas_single_node
tas_single_node_registry_username: ""
tas_single_node_registry_password: ""

tas_single_node_podman_network: rhtas

tas_single_node_setup_host_dns: true
tas_single_node_base_hostname: ""

tas_single_node_skip_os_install: false

tas_single_node_trust_root:
  full_archive: ""

# When adding or altering names for our images, consult the mapping in https://github.com/securesign/structural-tests
# To avoid breaking our structural tests

tas_single_node_fulcio_server_image:
  "registry.redhat.io/rhtas/fulcio-rhel9@sha256:d876a5e41b8467cdde921032f2cd53e77bef99ebcd8b61d72a3ad411469ad352"
tas_single_node_trillian_log_server_image:
  "registry.redhat.io/rhtas/trillian-logserver-rhel9@sha256:7c6cba78fb26addd9f056ec3f8b9376666db353451da37a4681a51d16f2ff76c"
tas_single_node_trillian_log_signer_image:
  "registry.redhat.io/rhtas/trillian-logsigner-rhel9@sha256:83a8710df2032471c379f4cfbb3861ec9c4c7794f8b487483dbfb8cf57207750"
tas_single_node_rekor_server_image:
  "registry.redhat.io/rhtas/rekor-server-rhel9@sha256:9746960bbc79e0ecf82a0ee12f878e90e202247dcaeb046bdd11db48a52ccb90"
tas_single_node_rekor_monitor_image:
  "registry.redhat.io/rhtas/rekor-monitor-rhel9@sha256:f8fe656e4d4f8c2e801ebfa829770928520f411327eb3776b80d1012200933a2"
tas_single_node_ctlog_image:
  "registry.redhat.io/rhtas/certificate-transparency-rhel9@sha256:240a9553315990a06a9d52eaf6e96e3aa1c743f1fbff33b95b489d41cef18f5a"
tas_single_node_rekor_redis_image:
  "registry.redhat.io/rhtas/trillian-redis-rhel9@sha256:7261ee18d6fd8d42614e94ae3bdb77c5acad54f2b9898365bf8668c60a32589a"
tas_single_node_backfill_redis_image:
  "registry.redhat.io/rhtas/rekor-backfill-redis-rhel9@sha256:ec50096d68a499e7f605bcfa7afd30845a03e0c4849736431f6752fa8b850897"
tas_single_node_trillian_db_image:
  "registry.redhat.io/rhtas/trillian-database-rhel9@sha256:f4e92bf3f35d86fe895a2e3225098b3d4d9dae720ef1d45e9efcf23dec8242b6"
tas_single_node_tuf_image:
  "registry.redhat.io/rhtas/tuffer-rhel9@sha256:89c686659b2276825a7109717ec3326b7a2054d48dae50ae41407744ae26d1aa"
tas_single_node_http_server_image:
  "registry.redhat.io/ubi9/httpd-24@sha256:d28d4ff1db656e440360961722e56d89c32cc26bb252214ffb464fa7469fa4e1"
tas_single_node_trillian_netcat_image:
  "registry.redhat.io/openshift4/ose-tools-rhel9@sha256:d96bc5c5c2c1d4391daca1198c104593a2f922ed7a5027cfed9b4191028cdc64"
tas_single_node_nginx_image:
  "registry.redhat.io/rhel9/nginx-124@sha256:a75f10d71969dd2451914df6539dea28f8e2c88506f691ea211768a0bd0746d1"
tas_single_node_timestamp_authority_image:
  "registry.redhat.io/rhtas/timestamp-authority-rhel9@sha256:37b9359f11098a781158e5bc0850ec43b599d29a354b43745067656b0a234814"
tas_single_node_rekor_search_ui_image:
  "registry.redhat.io/rhtas/rekor-search-ui-rhel9@sha256:3971738912069448174202486b61ed384153ca18af3e8430a55795a6e65eb58d"
# Create Tree
tas_single_node_createtree_image:
  "registry.redhat.io/rhtas/createtree-rhel9@sha256:e8f95dc51266292cc1909ee11ba97c8e8e112af063b257814fe66f1a3894d267"
# CLI Server
tas_single_node_client_server_image:
  "registry.redhat.io/rhtas/client-server-rhel9@sha256:39c72cf5b519408d1659bb630ac4ea5f9d067b049019fe4d1b5cc7680afa9060"

tas_single_node_podman: {}

# Volumes create options
tas_single_node_podman_volume_create_extra_args: {}
