---
# defaults file for tas_single_node
tas_single_node_registry_username: ""
tas_single_node_registry_password: ""

tas_single_node_podman_network: rhtas

tas_single_node_rekor_redis:
  database_deploy: true
  redis:
    host: rekor-redis-pod
    port: 6379
    password: password

tas_single_node_trillian:
  database_deploy: true
  mysql:
    user: mysql
    root_password: rootpassword
    password: password
    database: trillian
    host: trillian-mysql-pod
    port: 3306

tas_single_node_rekor_public_key_retries: 5
tas_single_node_rekor_public_key_delay: 10

tas_single_node_setup_host_dns: true
tas_single_node_base_hostname: ""

tas_single_node_tsa_signer_type: file
tas_single_node_tsa_kms_key_resource: ""
tas_single_node_tsa_tink_key_resource: ""
tas_single_node_tsa_tink_keyset: ""
tas_single_node_tsa_tink_hcvault_token: ""

tas_single_node_skip_os_install: false

tas_single_node_oidc_issuers: []

tas_single_node_meta_issuers: []

tas_single_node_trillian_trusted_ca: ""
tas_single_node_fulcio_trusted_oidc_ca: ""

# Cert Passphrases
tas_single_node_fulcio_ca_passphrase: rhtas
tas_single_node_ctlog_ca_passphrase: rhtas
tas_single_node_rekor_ca_passphrase: rhtas
tas_single_node_tsa_ca_passphrase: rhtas
tas_single_node_tsa_signer_passphrase: rhtas
tas_single_node_ct_logprefix: rhtasansible

# When adding or altering names for our images, consult the mapping in https://github.com/securesign/structural-tests
# To avoid breaking our structural tests

tas_single_node_fulcio_server_image:
  "registry.redhat.io/rhtas/fulcio-rhel9@sha256:4b5765bbfd3dac5fa027d2fb3d672b6ebffbc573b9413ab4cb189c50fa6f9a09"
tas_single_node_trillian_log_server_image:
  "registry.redhat.io/rhtas/trillian-logserver-rhel9@sha256:7af78c7bc4df097ffeeef345f1d13289695f715221957579ee65daeef2fa3f5b"
tas_single_node_trillian_log_signer_image:
  "registry.redhat.io/rhtas/trillian-logsigner-rhel9@sha256:2d707d12e4f65e1a92b4de11465a5976d55e15ad6c9fefe994646ccd44c83840"
tas_single_node_rekor_server_image:
  "registry.redhat.io/rhtas/rekor-server-rhel9@sha256:81e10e34f02b21bb8295e7b5c93797fc8c0e43a1a0d8304cca1b07415a3ed6f5"
tas_single_node_ctlog_image:
  "registry.redhat.io/rhtas/certificate-transparency-rhel9@sha256:31e7318a9b19ed04ef0f25949f1f1709d293b532316b27a06f83fa5174547b17"
tas_single_node_rekor_redis_image:
  "registry.redhat.io/rhtas/trillian-redis-rhel9@sha256:18820b1fbdbc2cc3e917822974910332d937b03cfe781628bd986fd6a5ee318e"
tas_single_node_trillian_db_image:
  "registry.redhat.io/rhtas/trillian-database-rhel9@sha256:501612745e63e5504017079388bec191ffacf00ffdebde7be6ca5b8e4fd9d323"
tas_single_node_tuf_image:
  "registry.redhat.io/rhtas/tuf-server-rhel9@sha256:6987dfce53541679ff5b9d7b03e9891a3986270fdaa90817923e0ca585e5267f"
tas_single_node_trillian_netcat_image:
  "registry.redhat.io/openshift4/ose-tools-rhel8@sha256:486b4d2dd0d10c5ef0212714c94334e04fe8a3d36cf619881986201a50f123c7"
tas_single_node_nginx_image:
  "registry.redhat.io/rhel9/nginx-124@sha256:71fc4492c3a632663c1e17ec9364d87aa7bd459d3c723277b8b94a949b84c9fe"
tas_single_node_timestamp_authority_image:
  "registry.redhat.io/rhtas/timestamp-authority-rhel9@sha256:fce0a22c8872309554236bab3457715dda0a83eb40dc6a9ecd3477b8023369d0"
tas_single_node_rekor_search_ui_image:
  "registry.redhat.io/rhtas/rekor-search-ui-rhel9@sha256:3c93c15fc5c918a91b3da9f5bf2276e4d46d881b1031287e6ab28e6aeb23e019"
# Create Tree
tas_single_node_createtree_image:
  "registry.redhat.io/rhtas/trillian-createtree-rhel9@sha256:f66a707e68fb0cdcfcddc318407fe60d72f50a7b605b5db55743eccc14a422ba"
# CLI Server
tas_single_node_client_server_image:
  "registry.redhat.io/rhtas/client-server-rhel9@sha256:9537329d0166b8d41ffd5f5d79c052fc27abe426a20cba5733c84030013c4e29"

tas_single_node_podman: {}
