---
# defaults file for tas_single_node
tas_single_node_registry_username: ""
tas_single_node_registry_password: ""

tas_single_node_podman_network: rhtas

tas_single_node_setup_host_dns: true
tas_single_node_base_hostname: ""

tas_single_node_skip_os_install: false

tas_single_node_trust_root:
  full_archive: ""

# When adding or altering names for our images, consult the mapping in https://github.com/securesign/structural-tests
# To avoid breaking our structural tests

tas_single_node_fulcio_server_image:
  "registry.redhat.io/rhtas/fulcio-rhel9@sha256:9d4e3731b19540804a3c19ba8baf764d7d3da013c981387aa5bed3381e82c86a"
tas_single_node_trillian_log_server_image:
  "registry.redhat.io/rhtas/trillian-logserver-rhel9@sha256:52b685d25d3822b65760dacc58d2a5e690f0faef00e9d42626ed4f2d4eba9ced"
tas_single_node_trillian_log_signer_image:
  "registry.redhat.io/rhtas/trillian-logsigner-rhel9@sha256:70b56553f45c0d3094c1f69ebe59d86f0e701557604c64ab27a6061b5d6d9087"
tas_single_node_rekor_server_image:
  "registry.redhat.io/rhtas/rekor-server-rhel9@sha256:3c7381faf54ca4c59c981ce6a2c7cd59f5db124801f2c78689e0e5c934cf911d"
tas_single_node_ctlog_image:
  "registry.redhat.io/rhtas/certificate-transparency-rhel9@sha256:cf9f9b51686a3d5960eaf8e1f0bdabb186712624aa67f7f1bd07dc775139c282"
tas_single_node_rekor_redis_image:
  "registry.redhat.io/rhtas/trillian-redis-rhel9@sha256:1100d428531653ebf5527e02d81a2d523f22fd9162ca7ee625cc63936ea5486e"
tas_single_node_backfill_redis_image:
  "registry.redhat.io/rhtas/rekor-backfill-redis-rhel9@sha256:9d6b993562b04338bbdfefe005800dd35b03c5256ff5acf2e5fcf190a79514f9"
tas_single_node_trillian_db_image:
  "registry.redhat.io/rhtas/trillian-database-rhel9@sha256:cb974500d58b4c00807fa649e1bb70f35315af5034dc9f3dad07d43e4e3dc859"
tas_single_node_tuf_image:
  "registry.redhat.io/rhtas/tuffer-rhel9@sha256:d76e77120bb61e3dc624783adc921d29192696f95698ea0d96642d8369f9e4c3"
tas_single_node_http_server_image:
  "registry.redhat.io/ubi9/httpd-24@sha256:47a0b3f12211320d1828524a324ab3ec9deac97c17b9d3f056c87d3384d9eb79"
tas_single_node_trillian_netcat_image:
  "registry.redhat.io/openshift4/ose-tools-rhel9@sha256:12f84700a69f6ce62efca960c2e4b6e3566b7065c97b9bb30376de37a0ca829f"
tas_single_node_nginx_image:
  "registry.redhat.io/rhel9/nginx-124@sha256:f3e0afbc6e1459a63b87ded4666b6ea3fa59a5d146d6bfa39995af936b1fb9f3"
tas_single_node_timestamp_authority_image:
  "registry.redhat.io/rhtas/timestamp-authority-rhel9@sha256:ec9086f2d48e6c2a297161fa52360869f11fe9cdf6106555e5ae8c2ca05ab448"
tas_single_node_rekor_search_ui_image:
  "registry.redhat.io/rhtas/rekor-search-ui-rhel9@sha256:add1b50cb7c77e874cb3b21330d2d4206e13c5b00824a56e044e5da71a0774f0"
# Create Tree
tas_single_node_createtree_image:
  "registry.redhat.io/rhtas/createtree-rhel9@sha256:e1b35dc4615e9c384dac4bee6e941bb1f97a93b8b24777857a3eb6db9797af0a"
# CLI Server
tas_single_node_client_server_image:
  "registry.redhat.io/rhtas/client-server-rhel9@sha256:556b082c1ea6f294b16c1a7140859699749e4455afc58e6a831fbe453c090bff"

tas_single_node_podman: {}

# Volumes create options
tas_single_node_podman_volume_create_extra_args: {}
