---
# defaults file for tas_single_node
tas_single_node_registry_username: ""
tas_single_node_registry_password: ""

tas_single_node_podman_network: rhtas

tas_single_node_setup_host_dns: true
tas_single_node_base_hostname: ""

tas_single_node_skip_os_install: false

tas_single_node_trust_root:
  full_archive: ""

# When adding or altering names for our images, consult the mapping in https://github.com/securesign/structural-tests
# To avoid breaking our structural tests

tas_single_node_fulcio_server_image:
  "registry.redhat.io/rhtas/fulcio-rhel9@sha256:6c97f4f492f898cca124d8f48e7da6444c4c0bb59624c5a339f96224535c5ae1"
tas_single_node_trillian_log_server_image:
  "registry.redhat.io/rhtas/trillian-logserver-rhel9@sha256:90674e8db38ab75a6badf4baa8d5ad482de41d94a24714017b86a4c18cf798fb"
tas_single_node_trillian_log_signer_image:
  "registry.redhat.io/rhtas/trillian-logsigner-rhel9@sha256:5389e329ac62721677454060336c0fee58f1e70bffaf49643216ab02b5290b90"
tas_single_node_rekor_server_image:
  "registry.redhat.io/rhtas/rekor-server-rhel9@sha256:edba54af3d4a48b53d287146dffecd513e70271b83b6211401406f2077840d87"
tas_single_node_rekor_monitor_image:
  "registry.redhat.io/rhtas/rekor-monitor-rhel9@sha256:d172191a0643a7d72aba63263e6e6f3432cdbcd4dc16207204cab16cef6e04c7"
tas_single_node_ctlog_image:
  "registry.redhat.io/rhtas/certificate-transparency-rhel9@sha256:b678f21f299e4c27d599d6a38eecaa454a44b20b3f9f2ebcd870a8f186d55903"
tas_single_node_rekor_redis_image:
  "registry.redhat.io/rhtas/trillian-redis-rhel9@sha256:f79d9081ea2d98adeb2545a4c5b71a4c90704feb766584449529fae5fb9e8ed8"
tas_single_node_backfill_redis_image:
  "registry.redhat.io/rhtas/rekor-backfill-redis-rhel9@sha256:f6bd6ef3999bbd7112571cbe5173f94b3b904b56160759b2500dc9cdc82d969d"
tas_single_node_trillian_db_image:
  "registry.redhat.io/rhtas/trillian-database-rhel9@sha256:1f1260b3ed546ec0cbfd07af1ccd788379071d63beb3039bcaacd4503de7e09d"
tas_single_node_tuf_image:
  "registry.redhat.io/rhtas/tuffer-rhel9@sha256:4c69be4a3a308439a8bd1bbf11d31e24a3c2e67361fca593825c11ffe4c79ab0"
tas_single_node_http_server_image:
  "registry.redhat.io/ubi9/httpd-24@sha256:b17ddeb1f842621a4a94460e12e4180deac418c4b11df350d16b41dd2cbd5505"
tas_single_node_trillian_netcat_image:
  "registry.redhat.io/openshift4/ose-tools-rhel9@sha256:16816f988db21482c309e77207364b7c282a0fef96e6d7da129928aa477dcfa7"
tas_single_node_nginx_image:
  "registry.redhat.io/rhel9/nginx-124@sha256:a75f10d71969dd2451914df6539dea28f8e2c88506f691ea211768a0bd0746d1"
tas_single_node_timestamp_authority_image:
  "registry.redhat.io/rhtas/timestamp-authority-rhel9@sha256:47a3a6a828cdbff2afba0bc64f0061fea3a60bdf82c1331b370acd55c277a6fc"
tas_single_node_rekor_search_ui_image:
  "registry.redhat.io/rhtas/rekor-search-ui-rhel9@sha256:80921b162efea8e5640a96067cef45b9add2b0837f7db74a7f512d0a99f0e185"
# Create Tree
tas_single_node_createtree_image:
  "registry.redhat.io/rhtas/createtree-rhel9@sha256:64f8224699f677512ad559b66f282594e88ca72082e15d3ac0a415c31ab6b05b"
# CLI Server
tas_single_node_client_server_image:
  "registry.redhat.io/rhtas/client-server-rhel9@sha256:09f6d425223cdb8887423a694ec93edfa0cca6494e9ce8365d736aee27ac0f27"

tas_single_node_podman: {}

# Volumes create options
tas_single_node_podman_volume_create_extra_args: {}
