---
# defaults file for tas_single_node
tas_single_node_registry_username: ""
tas_single_node_registry_password: ""

tas_single_node_podman_network: rhtas

tas_single_node_rekor:
  ca_passphrase: rhtas
  public_key_retries: 5
  public_key_delay: 10

tas_single_node_rekor_redis:
  database_deploy: true
  redis:
    host: rekor-redis-pod
    port: 6379
    password: password

tas_single_node_backfill_redis:
  enabled: true
  schedule: "*-*-* 00:00:00"

tas_single_node_trillian:
  database_deploy: true
  mysql:
    user: mysql
    root_password: rootpassword
    password: password
    database: trillian
    host: trillian-mysql-pod
    port: 3306
  trusted_ca: ""

tas_single_node_ingress_certificates:
  fulcio:
    certificate: ""
    private_key: ""
  rekor:
    certificate: ""
    private_key: ""
  tuf:
    certificate: ""
    private_key: ""
  tsa:
    certificate: ""
    private_key: ""
  rekor-search:
    certificate: ""
    private_key: ""
  cli-server:
    certificate: ""
    private_key: ""

tas_single_node_fulcio:
  certificate:
    organization_name: ""
    organization_email: ""
    common_name: ""
  private_key: ""
  root_ca: ""
  ca_passphrase: rhtas
  trusted_ca: ""
  ct_log_prefix: rhtasansible

tas_single_node_setup_host_dns: true
tas_single_node_base_hostname: ""

tas_single_node_tsa:
  signer_type: file
  certificate:
    organization_name: ""
    organization_email: ""
    common_name: ""
  kms:
    key_resource: ""
  tink:
    key_resource: ""
    keyset: ""
    hcvault_token: ""
  signer_private_key: ""
  certificate_chain: ""
  signer_passphrase: rhtas
  ca_passphrase: rhtas
  ntp_config: ""

tas_single_node_skip_os_install: false

tas_single_node_oidc_issuers: []

tas_single_node_meta_issuers: []

tas_single_node_ctlog_ca_passphrase: rhtas

# When adding or altering names for our images, consult the mapping in https://github.com/securesign/structural-tests
# To avoid breaking our structural tests

tas_single_node_fulcio_server_image:
  "registry.redhat.io/rhtas/fulcio-rhel9@sha256:8d35d8a5488da5d1b563fd7eb2c05f1bcaf58f1c18a616087cec7a5c5dae80a0"
tas_single_node_trillian_log_server_image:
  "registry.redhat.io/rhtas/trillian-logserver-rhel9@sha256:98ecea843babf275b6108d0d323adadb1f387129836d49a2c28385a3327e72fc"
tas_single_node_trillian_log_signer_image:
  "registry.redhat.io/rhtas/trillian-logsigner-rhel9@sha256:21cd2c53a1d22cc7369b2260e41602d4eb090b86b2b411e9a87319350960a26c"
tas_single_node_rekor_server_image:
  "registry.redhat.io/rhtas/rekor-server-rhel9@sha256:ae1905bd9743389054526ae1d3069d78f02ca00dc7dd8f620e67177b0b892d1e"
tas_single_node_ctlog_image:
  "registry.redhat.io/rhtas/certificate-transparency-rhel9@sha256:61d76a754270016575de4a10078cb393a810b40c0e2edaa2cefe3ce4d070f016"
tas_single_node_rekor_redis_image:
  "registry.redhat.io/rhtas/trillian-redis-rhel9@sha256:b7bd5b037f62f9b94575812ae129f1961d022b0e9c1931b01bdd3364d2dc89d1"
tas_single_node_backfill_redis_image:
  "registry.redhat.io/rhtas/rekor-backfill-redis-rhel9@sha256:cd99ad5365f48dcf4c4b5ec02bd41ddb438fadb15ccaccb0df489d84e820a9b2"
tas_single_node_trillian_db_image:
  "registry.redhat.io/rhtas/trillian-database-rhel9@sha256:23bce7325c6bf65e30e1350a352bea9acfbc5f1ce933930ab1503c686ab2d285"
tas_single_node_tuf_image:
  "registry.redhat.io/rhtas/tuffer-rhel9@sha256:80c004f04a9d874a27df2d7e280f789572fae6186d42dbf3e532dfb194f58da2"
tas_single_node_http_server_image:
  "registry.access.redhat.com/ubi9/httpd-24@sha256:7874b82335a80269dcf99e5983c2330876f5fe8bdc33dc6aa4374958a2ffaaee"
tas_single_node_trillian_netcat_image:
  "registry.redhat.io/openshift4/ose-tools-rhel8@sha256:486b4d2dd0d10c5ef0212714c94334e04fe8a3d36cf619881986201a50f123c7"
tas_single_node_nginx_image:
  "registry.redhat.io/rhel9/nginx-124@sha256:71fc4492c3a632663c1e17ec9364d87aa7bd459d3c723277b8b94a949b84c9fe"
tas_single_node_timestamp_authority_image:
  "registry.redhat.io/rhtas/timestamp-authority-rhel9@sha256:60ca6f005a69b0ccb0be4bf6097e30eb4f2f9382e3761ea9600d7028449cafd0"
tas_single_node_rekor_search_ui_image:
  "registry.redhat.io/rhtas/rekor-search-ui-rhel9@sha256:e6a1c3cd0d8eff5bfafa079d1b04b9f084672ef693f4575f32a4a504c2caa60c"
# Create Tree
tas_single_node_createtree_image:
  "registry.redhat.io/rhtas/trillian-createtree-rhel9@sha256:71323012850d7b6c4ae5cc4c3ee32b86fba97794b5b4fee61ff7459c19a584dc"
# CLI Server
tas_single_node_client_server_image:
  "registry.redhat.io/rhtas/client-server-rhel9@sha256:b4eb9e6d7c29189c6abac6f03c1f131ee588014e635522ac28eca54d0b179d18"

tas_single_node_podman: {}

tas_single_node_cockpit:
  enabled: false # install redhat.rhel_system_roles before enabling
  user:
    create: false
    username: cockpit-user
    password: ""
