---
# defaults file for tas_single_node
tas_single_node_system_packages:
  - podman
  - podman-plugins
  - firewalld

tas_single_node_podman_network: rhtas

tas_single_node_cockpit:
  enabled: true
  cockpit_packages:
    - cockpit-storaged
    - cockpit-podman
    - cockpit
  cockpit_manage_firewall: true

tas_single_node_skip_os_install: false

tas_single_node_rekor_templates:
  - manifests/rekor/redis-server.j2
  - manifests/rekor/rekor-server.j2

tas_single_node_rekor_redis:
  database_deploy: true
  redis:
    address: rekor-redis-pod
    port: 6379
    password: password

tas_single_node_cockpit_enabled: true
tas_single_node_ctlog_enabled: true
tas_single_node_tuf_enabled: true
tas_single_node_trillian_enabled: true

tas_single_node_trillian:
  database_deploy: true
  mysql:
    user: mysql
    rootPassword: rootpassword
    password: password
    database: trillian
    host: trillian-mysql-pod
    port: 3306

tas_single_node_config_dir: /etc/rhtas
tas_single_node_certs_dir: "{{ tas_single_node_config_dir }}/certs"
tas_single_node_kube_manifest_dir: "{{ tas_single_node_config_dir }}/manifests"
tas_single_node_kube_configmap_dir: "{{ tas_single_node_config_dir }}/configs"

tas_single_node_private_key_filename: rhtas.key
tas_single_node_ca_filename: rhtas.pem
tas_single_node_fulcio_private_key_filename: fulcio.key
tas_single_node_fulcio_public_key_filename: fulcio.pub
tas_single_node_fulcio_root_ca_filename: fulcio.pem
tas_single_node_ctlog_private_key_filename: ctlog.key
tas_single_node_ctlog_public_key_filename: ctlog.pub
tas_single_node_rekor_signer_filename: rekor-signer.key
tas_single_node_rekor_public_key_filename: rekor-pub-key.pub
tas_single_node_tsa_private_key_filename: tsa.key
tas_single_node_tsa_certificate_chain_filename: tsa-certificate-chain.pem
tas_single_node_tsa_leaf_certificate_filename: tsa-leaf-certificate.pem
tas_single_node_tsa_signer_private_key_filename: tsa-signer-private-key.pem

tas_single_node_remote_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_private_key_filename }}"
tas_single_node_remote_ca: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_ca_filename }}"
tas_single_node_remote_fulcio_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_fulcio_private_key_filename }}"
tas_single_node_remote_fulcio_public_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_fulcio_public_key_filename }}"
tas_single_node_remote_fulcio_root_ca: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_fulcio_root_ca_filename }}"
tas_single_node_remote_ctlog_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_ctlog_private_key_filename }}"
tas_single_node_remote_ctlog_public_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_ctlog_public_key_filename }}"
tas_single_node_remote_rekor_signer: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_rekor_signer_filename }}"
tas_single_node_remote_rekor_public_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_rekor_public_key_filename }}"

tas_single_node_rekor_enabled: true
tas_single_node_rekor_public_key_retries: 5
tas_single_node_rekor_public_key_delay: 10
tas_single_node_fulcio_server_config: "{{ tas_single_node_kube_configmap_dir }}/fulcio-config.yaml"
tas_single_node_fulcio_server_secret_config: "{{ tas_single_node_kube_configmap_dir }}/fulcio-server-secret.yaml"
tas_single_node_ctlog_secret: "{{ tas_single_node_kube_configmap_dir }}/ctlog-secret.yaml"
tas_single_node_ctlog_configmap_config: "{{ tas_single_node_kube_configmap_dir }}/ctlog-config.yaml"
tas_single_node_tuf_secret_config: "{{ tas_single_node_kube_configmap_dir }}/tuf-secret.yaml"
tas_single_node_treeid_config: "{{ tas_single_node_kube_configmap_dir }}/treeid-config.yaml"
tas_single_node_rekor_sharding_config: "{{ tas_single_node_kube_configmap_dir }}/rekor-sharding-config.yaml"
tas_single_node_nginx_config: "{{ tas_single_node_kube_configmap_dir }}/nginx-config.yaml"
tas_single_node_nginx_certs_config: "{{ tas_single_node_kube_configmap_dir }}/nginx-certs.yaml"
tas_single_node_trillian_secret: "{{ tas_single_node_kube_configmap_dir }}/trillian-secret.yaml"
tas_single_node_systemd_directory: /etc/systemd/system

tas_single_node_setup_host_dns: true
tas_single_node_base_hostname: ""

tas_single_node_fulcio_enabled: true
tas_single_node_fulcio_ca_passphrase: rhtas
tas_single_node_ctlog_ca_passphrase: rhtas
tas_single_node_rekor_ca_passphrase: rhtas
tas_single_node_tsa_ca_passphrase: rhtas
tas_single_node_tsa_signer_passphrase: rhtas
tas_single_node_ct_logprefix: rhtasansible
tas_single_node_rekor_search_enabled: true

tas_single_node_tsa_enabled: true
tas_single_node_signer_type: file
tas_single_node_remote_tsa_signer_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_tsa_signer_private_key_filename }}"
tas_single_node_remote_tsa_leaf_certificate: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_tsa_leaf_certificate_filename }}"
tas_single_node_remote_tsa_certificate_chain: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_tsa_certificate_chain_filename }}"
tas_single_node_remote_tsa_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_tsa_private_key_filename }}"

tas_single_node_tsa_secret: "{{ tas_single_node_kube_configmap_dir }}/tsa-secret.yaml"

tas_single_node_kms_key_resource: ""
tas_single_node_tink_key_resource: ""
tas_single_node_tsa_tink_keyset: ""
tas_single_node_tink_hcvault_token: ""

tas_single_node_scaffolding_utils_image: quay.io/ablock/sigstore-scaffolding-helper:latest

tas_single_node_oidc_issuers:
  - issuer: https://keycloak-keycloak-system.apps.platform-sts.pcbk.p1.openshiftapps.com/auth/realms/trusted-artifact-signer
    client_id: trusted-artifact-signer
    url: https://keycloak-keycloak-system.apps.platform-sts.pcbk.p1.openshiftapps.com/auth/realms/trusted-artifact-signer
    type: email

tas_single_node_meta_issuers: []

# RHTAS Images
tas_single_node_fulcio_server_image:
  "registry.redhat.io/rhtas/fulcio-rhel9@sha256:67495de82e2fcd2ab4ad0e53442884c392da1aa3f5dd56d9488a1ed5df97f513"
tas_single_node_trillian_log_server_image:
  "registry.redhat.io/rhtas/trillian-logserver-rhel9@sha256:994a860e569f2200211b01f9919de11d14b86c669230184c4997f3d875c79208"
tas_single_node_trillian_logsigner_image:
  "registry.redhat.io/rhtas/trillian-logsigner-rhel9@sha256:37028258a88bba4dfaadb59fc88b6efe9c119a808e212ad5214d65072abb29d0"
tas_single_node_rekor_image:
  "registry.redhat.io/rhtas/rekor-server-rhel9@sha256:133ee0153e12e6562cfea1a74914ebdd7ee76ae131ec7ca0c3e674c2848150ae"
tas_single_node_ct_server_image:
  "registry.redhat.io/rhtas/certificate-transparency-rhel9@sha256:a0c7d71fc8f4cb7530169a6b54dc3a67215c4058a45f84b87bb04fc62e6e8141"
tas_single_node_redis_image:
  "registry.redhat.io/rhtas/trillian-redis-rhel9@sha256:01736bdd96acbc646334a1109409862210e5273394c35fb244f21a143af9f83e"
tas_single_node_trillian_db_image:
  "registry.redhat.io/rhtas/trillian-database-rhel9@sha256:909f584804245f8a9e05ecc4d6874c26d56c0d742ba793c1a4357a14f5e67eb0"
tas_single_node_tuf_image:
  "registry.redhat.io/rhtas/tuf-server-rhel9@sha256:34f5cdc53a908ae2819d85ab18e35b69dc4efc135d747dd1d2e216a99a2dcd1b"
tas_single_node_netcat_image:
  "registry.redhat.io/openshift4/ose-tools-rhel8@sha256:486b4d2dd0d10c5ef0212714c94334e04fe8a3d36cf619881986201a50f123c7"
tas_single_node_nginx_image:
  "registry.redhat.io/rhel9/nginx-124@sha256:71fc4492c3a632663c1e17ec9364d87aa7bd459d3c723277b8b94a949b84c9fe"
tas_single_node_tsa_image:
  "registry.redhat.io/rhtas/timestamp-authority-rhel9@sha256:9983bb5f29be5af3cb3ec045a609eca66c7e91c34eb00f17e4d50dc5d441c0b4"
tas_single_node_rekor_search_image:
  "registry.redhat.io/rhtas/rekor-search-ui-rhel9@sha256:8c478fc6122377c6c9df0fddf0ae42b6f6b1648e3c6cf96a0558f366e7921b2b"
