---
# vars file for sigstore_scaffolding
tas_single_node_system_packages:
  - podman
  - podman-plugins
  - firewalld


tas_single_node_rekor_signer_type: file # to be exposed to users later on
tas_single_node_rekor_templates:
  - manifests/rekor/redis-server.j2
  - manifests/rekor/rekor-server.j2

# Individual service enablement
tas_single_node_trillian_enabled: true
tas_single_node_rekor_enabled: true
tas_single_node_ctlog_enabled: true
tas_single_node_tuf_enabled: true
tas_single_node_tsa_enabled: true
tas_single_node_fulcio_enabled: true
tas_single_node_rekor_search_enabled: true
tas_single_node_client_server_enabled: true
tas_single_node_createtree_enabled: true

# Directory Structure
tas_single_node_config_dir: /etc/rhtas
tas_single_node_certs_dir: "{{ tas_single_node_config_dir }}/certs"
tas_single_node_kube_manifest_dir: "{{ tas_single_node_config_dir }}/manifests"
tas_single_node_kube_configmap_dir: "{{ tas_single_node_config_dir }}/configs"

# Infrastructure Certs
tas_single_node_remote_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_private_key_filename }}"
tas_single_node_remote_ca: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_ca_filename }}"
tas_single_node_remote_fulcio_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_fulcio_private_key_filename }}"
tas_single_node_remote_fulcio_public_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_fulcio_public_key_filename }}"
tas_single_node_remote_fulcio_root_ca: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_fulcio_root_ca_filename }}"
tas_single_node_remote_ctlog_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_ctlog_private_key_filename }}"
tas_single_node_remote_ctlog_public_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_ctlog_public_key_filename }}"
tas_single_node_remote_rekor_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_rekor_signer_filename }}"
tas_single_node_remote_rekor_public_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_rekor_public_key_filename }}"

# Functional Keys
tas_single_node_private_key_filename: rhtas.key
tas_single_node_ca_filename: rhtas.pem
tas_single_node_fulcio_private_key_filename: fulcio.key
tas_single_node_fulcio_public_key_filename: fulcio.pub
tas_single_node_fulcio_root_ca_filename: fulcio.pem
tas_single_node_ctlog_private_key_filename: ctlog.key
tas_single_node_ctlog_public_key_filename: ctlog.pub
tas_single_node_rekor_signer_filename: rekor-signer.key
tas_single_node_rekor_public_key_filename: rekor-pub-key.pub
tas_single_node_tsa_private_key_filename: tsa.key
tas_single_node_tsa_certificate_chain_filename: tsa-certificate-chain.pem
tas_single_node_tsa_leaf_certificate_filename: tsa-leaf-certificate.pem
tas_single_node_tsa_signer_private_key_filename: tsa-signer-private-key.pem

# Secrets,Certs and Configuration locations
tas_single_node_fulcio_server_config: "{{ tas_single_node_kube_configmap_dir }}/fulcio-config.yaml"
tas_single_node_fulcio_server_secret_config: "{{ tas_single_node_kube_configmap_dir }}/fulcio-server-secret.yaml"
tas_single_node_ctlog_secret: "{{ tas_single_node_kube_configmap_dir }}/ctlog-secret.yaml"
tas_single_node_ctlog_configmap_config: "{{ tas_single_node_kube_configmap_dir }}/ctlog-config.yaml"
tas_single_node_tuf_secret_config: "{{ tas_single_node_kube_configmap_dir }}/tuf-secret.yaml"
tas_single_node_rekor_treeid_config: "{{ tas_single_node_kube_configmap_dir }}/rekor-treeid-config.yaml"
tas_single_node_ctlog_treeid_config: "{{ tas_single_node_kube_configmap_dir }}/ctlog-treeid-config.yaml"
tas_single_node_rekor_secret: "{{ tas_single_node_kube_configmap_dir }}/rekor-secret.yaml"
tas_single_node_rekor_server_config: "{{ tas_single_node_kube_configmap_dir }}/rekor-server-config.yaml"
tas_single_node_nginx_config: "{{ tas_single_node_kube_configmap_dir }}/nginx-config.yaml"
tas_single_node_apache_config: "{{ tas_single_node_kube_configmap_dir }}/apache-config.yaml"
tas_single_node_nginx_certs_config: "{{ tas_single_node_kube_configmap_dir }}/nginx-certs.yaml"
tas_single_node_trillian_secret: "{{ tas_single_node_kube_configmap_dir }}/trillian-secret.yaml"
tas_single_node_trillian_trusted_ca_configmap: "{{ tas_single_node_kube_configmap_dir }}/trillian-trusted-ca-configmap.yaml"
tas_single_node_tsa_secret: "{{ tas_single_node_kube_configmap_dir }}/tsa-secret.yaml"
tas_single_node_systemd_directory: /etc/systemd/system

# Volumes
tas_single_node_tuf_repository_volume_name: "tuf-repository"
tas_single_node_tuf_signing_keys_volume_name: "tuf-signing-keys"

# Timestamp Authority Config
tas_single_node_remote_tsa_signer_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_tsa_signer_private_key_filename }}"
tas_single_node_remote_tsa_leaf_certificate: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_tsa_leaf_certificate_filename }}"
tas_single_node_remote_tsa_certificate_chain: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_tsa_certificate_chain_filename }}"
tas_single_node_remote_tsa_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_tsa_private_key_filename }}"

# Secrets,Certs and Configuration names
tas_single_node_trillian_trusted_ca_configmap_name: "trillian_trusted_ca"

# Pod/Service names + Ports
tas_single_node_cli_server_pod: cli-server
tas_single_node_cli_server_port_http: 8080

tas_single_node_ctlog_pod: ctlog
tas_single_node_ctlog_port_http: 6962
tas_single_node_ctlog_port_tcp: 6963

tas_single_node_fulcio_pod: fulcio-server
tas_single_node_fulcio_port_grpc: 5554
tas_single_node_fulcio_port_http: 5555
tas_single_node_fulcio_port_tcp: 2113

tas_single_node_nginx_pod: nginx
tas_single_node_nginx_port_https: 8443
tas_single_node_nginx_port_http: 8080
tas_single_node_nginx_hostport_https: 443
tas_single_node_nginx_hostport_http: 80

tas_single_node_rekor_redis_pod: rekor-redis
tas_single_node_rekor_redis_port_tcp: 6379

tas_single_node_rekor_server_pod: rekor-server
tas_single_node_rekor_server_port_http: 3001
tas_single_node_rekor_server_port_tcp: 2112

tas_single_node_rekor_search_ui_pod: rekor-search-ui
tas_single_node_rekor_search_ui_port_tcp: 3000

tas_single_node_trillian_logserver_pod: trillian-logserver
tas_single_node_trillian_logserver_port_rpc: 8091
tas_single_node_trillian_logserver_port_http: 8090

tas_single_node_trillian_logsigner_pod: trillian-logsigner
tas_single_node_trillian_logsigner_port_tcp: 8191

tas_single_node_trillian_mysql_pod: trillian-mysql
tas_single_node_trillian_mysql_port_tcp: 3306

tas_single_node_tsa_server_pod: tsa-server
tas_single_node_tsa_server_port_tcp: 3002

tas_single_node_tuf_pod: tuf
tas_single_node_tuf_port_http: 8080
tas_single_node_tuf_host_port_http: 8085

tas_single_node_tuf_init_pod: tuf-init
