---
# vars file for tas_single_node

_tas_single_node_backup_restore:
  backup:
    enabled: false
    schedule: "*-*-* 00:00:00"
    force_run: false
    passphrase: ""
    directory: /root/tas_backups
  restore:
    enabled: false
    source: ""
    passphrase: ""

_tas_single_node_rekor:
  ca_passphrase: rhtas
  public_key_retries: 5
  public_key_delay: 10
  active_signer_type: file
  active_signer_id: "private-0"
  env:
  private_keys: []
  public_keys: []


_tas_single_node_rekor_redis:
  database_deploy: true
  redis:
    host: rekor-redis-pod
    port: 6379
    password: password

_tas_single_node_backfill_redis:
  enabled: true
  schedule: "*-*-* 00:00:00"

_tas_single_node_trillian:
  database_deploy: true
  mysql:
    user: mysql
    root_password: rootpassword
    password: password
    database: trillian
    host: trillian-mysql-pod
    port: 3306
  trusted_ca: ""

_tas_single_node_ingress_certificates:
  fulcio:
    certificate: ""
    private_key: ""
  rekor:
    certificate: ""
    private_key: ""
  tuf:
    certificate: ""
    private_key: ""
  tsa:
    certificate: ""
    private_key: ""
  rekor-search:
    certificate: ""
    private_key: ""
  cli-server:
    certificate: ""
    private_key: ""

_tas_single_node_fulcio:
  certificate:
    organization_name: ""
    organization_email: ""
    common_name: ""
  private_key: ""
  root_ca: ""
  ca_passphrase: rhtas
  trusted_ca: ""
  ct_log_prefix: rhtasansible

_tas_single_node_tsa:
  env: []
  signer_type: file
  certificate:
    organization_name: ""
    organization_email: ""
    common_name: ""
  kms:
    key_resource: ""
  tink:
    key_resource: ""
    keyset: ""
    hcvault_token: ""
  signer_private_key: ""
  certificate_chain: ""
  signer_passphrase: rhtas
  ca_passphrase: rhtas
  ntp_config: ""
  trusted_ca: ""

_tas_single_node_ctlog:
  ca_passphrase: rhtas
  sharding_config:
    - treeid:
      prefix: "rhtasansible"
      root_pem_file: "/ctfe-keys/fulcio-0"
      password: "rhtas"
      private_key: "private-0"
  private_keys: []
  public_keys: []

_tas_single_node_cockpit:
  enabled: false # install redhat.rhel_system_roles before enabling
  user:
    create: false
    username: cockpit-user
    password: ""

# vars file for sigstore_scaffolding
tas_single_node_system_packages:
  - podman
  - podman-plugins
  - firewalld

tas_single_node_rekor_signer_type: file # to be exposed to users later on
tas_single_node_rekor_templates:
  - manifests/rekor/redis-server.j2
  - manifests/rekor/rekor-server.j2

# Individual service enablement
tas_single_node_trillian_enabled: true
tas_single_node_rekor_enabled: true
tas_single_node_ctlog_enabled: true
tas_single_node_tuf_enabled: true
tas_single_node_tsa_enabled: true
tas_single_node_fulcio_enabled: true
tas_single_node_rekor_search_enabled: true
tas_single_node_client_server_enabled: true
tas_single_node_createtree_enabled: true

# Directory Structure
# NOTE: Do not change these values, they're referred to from docs
tas_single_node_config_dir: /etc/rhtas
tas_single_node_certs_dir: "{{ tas_single_node_config_dir }}/certs"
tas_single_node_kube_manifest_dir: "{{ tas_single_node_config_dir }}/manifests"
tas_single_node_kube_configmap_dir: "{{ tas_single_node_config_dir }}/configs"
tas_single_node_tuf_repo_dir: "{{ tas_single_node_config_dir }}/tuf-repo"

# Infrastructure Certs
tas_single_node_remote_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_private_key_filename }}"
tas_single_node_remote_ca: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_ca_filename }}"
tas_single_node_remote_fulcio_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_fulcio_private_key_filename }}"
tas_single_node_remote_fulcio_auto_generated_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_fulcio_auto_generated_private_key_filename }}"
tas_single_node_remote_fulcio_user_provided_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_fulcio_user_provided_private_key_filename }}"
tas_single_node_remote_fulcio_public_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_fulcio_public_key_filename }}"
tas_single_node_remote_ctlog_private_key: ["{{ tas_single_node_certs_dir }}/{{ tas_single_node_ctlog_private_key_filename }}"]
# NOTE: Do not change these values, they're referred to from docs
tas_single_node_remote_fulcio_root_ca: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_fulcio_root_ca_filename }}"
tas_single_node_remote_ctlog_public_key: ["{{ tas_single_node_certs_dir }}/{{ tas_single_node_ctlog_public_key_filename }}"]
tas_single_node_remote_rekor_private_key: ["{{ tas_single_node_certs_dir }}/{{ tas_single_node_rekor_signer_filename }}"]
tas_single_node_remote_rekor_public_key: ["{{ tas_single_node_certs_dir }}/{{ tas_single_node_rekor_public_key_filename }}"]

# Functional Keys
tas_single_node_private_key_filename: rhtas.key
tas_single_node_ca_filename: rhtas.pem
tas_single_node_fulcio_private_key_filename: fulcio.key
tas_single_node_fulcio_auto_generated_private_key_filename: auto_generated_fulcio.key
tas_single_node_fulcio_user_provided_private_key_filename: user_provided_fulcio.key
tas_single_node_fulcio_public_key_filename: fulcio.pub
tas_single_node_tsa_private_key_filename: tsa.key
tas_single_node_tsa_leaf_certificate_filename: tsa-leaf-certificate.pem
tas_single_node_tsa_signer_private_key_filename: tsa-signer-private-key.pem
tas_single_node_tsa_ntp_config_filename: ntpsync.yaml
# NOTE: Do not change these values, they're referred to from docs
tas_single_node_tsa_cert_chain_filename: tsa-cert-chain.pem
tas_single_node_fulcio_root_ca_filename: fulcio.pem
tas_single_node_ctlog_public_key_filename: ctlog0.pub
tas_single_node_ctlog_private_key_filename: ctlog0.key
tas_single_node_rekor_public_key_filename: rekor-pub-key0.pub
tas_single_node_rekor_signer_filename: rekor-signer0.key

# Secrets,Certs and Configuration locations
tas_single_node_fulcio_server_config: "{{ tas_single_node_kube_configmap_dir }}/fulcio-config.yaml"
tas_single_node_fulcio_server_secret_config: "{{ tas_single_node_kube_configmap_dir }}/fulcio-server-secret.yaml"
tas_single_node_ctlog_secret: "{{ tas_single_node_kube_configmap_dir }}/ctlog-secret.yaml"
tas_single_node_ctlog_configmap_config: "{{ tas_single_node_kube_configmap_dir }}/ctlog-config.yaml"
tas_single_node_tuf_secret_config: "{{ tas_single_node_kube_configmap_dir }}/tuf-secret.yaml"
tas_single_node_rekor_treeid_config: "{{ tas_single_node_kube_configmap_dir }}/rekor-treeid-config.yaml"
tas_single_node_ctlog_treeid_config: "{{ tas_single_node_kube_configmap_dir }}/ctlog-treeid-config.yaml"
tas_single_node_rekor_secret: "{{ tas_single_node_kube_configmap_dir }}/rekor-secret.yaml"
tas_single_node_rekor_server_config: "{{ tas_single_node_kube_configmap_dir }}/rekor-server-config.yaml"
tas_single_node_nginx_config: "{{ tas_single_node_kube_configmap_dir }}/nginx-config.yaml"
tas_single_node_apache_config: "{{ tas_single_node_kube_configmap_dir }}/apache-config.yaml"
tas_single_node_nginx_certs_config: "{{ tas_single_node_kube_configmap_dir }}/nginx-certs.yaml"
tas_single_node_trillian_secret: "{{ tas_single_node_kube_configmap_dir }}/trillian-secret.yaml"
tas_single_node_trillian_trusted_ca_configmap: "{{ tas_single_node_kube_configmap_dir }}/trillian-trusted-ca-configmap.yaml"
tas_single_node_tsa_secret: "{{ tas_single_node_kube_configmap_dir }}/tsa-secret.yaml"
tas_single_node_tsa_config: "{{ tas_single_node_kube_configmap_dir }}/tsa-config.yaml"
tas_single_node_systemd_directory: /etc/systemd/system

# Volumes
tas_single_node_tuf_repository_volume_name: "tuf-repository"
tas_single_node_tuf_signing_keys_volume_name: "tuf-signing-keys"

# Volumes create options
tas_single_node_podman_volume_create_extra_args:
  trillian_mysql: ""
  rekor_redis_storage: ""
  redis_backfill_storage: ""
  rekor_server: ""
  tuf_repository: ""
  tuf_signing_keys: ""

# Timestamp Authority Config
tas_single_node_tsa_signer_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_tsa_signer_private_key_filename }}"
tas_single_node_remote_tsa_leaf_certificate: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_tsa_leaf_certificate_filename }}"
tas_single_node_remote_tsa_private_key: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_tsa_private_key_filename }}"
tas_single_node_tsa_ntp_config_file: "{{ tas_single_node_config_dir }}/{{ tas_single_node_tsa_ntp_config_filename }}"
# NOTE: Do not change this value, it's referred to from docs
tas_single_node_tsa_certificate_chain: "{{ tas_single_node_certs_dir }}/{{ tas_single_node_tsa_cert_chain_filename }}"

# Certificate Transparency Log provided Root Marker
tas_single_node_ctlog_use_provided_root_marker_file: "{{ tas_single_node_certs_dir }}/_ctlog_use_provided_root"
tas_single_node_rekor_use_provided_root_marker_file: "{{ tas_single_node_certs_dir }}/_rekor_use_provided_root"

# Secrets,Certs and Configuration names
tas_single_node_trillian_trusted_ca_configmap_name: "trillian-trusted-ca"

# Pod/Service names + Ports
tas_single_node_cli_server_pod: cli-server
tas_single_node_cli_server_port_http: 8080

tas_single_node_ctlog_pod: ctlog
tas_single_node_ctlog_port_http: 6962
tas_single_node_ctlog_port_metrics: 6963

tas_single_node_fulcio_pod: fulcio-server
tas_single_node_fulcio_port_grpc: 5554
tas_single_node_fulcio_port_http: 5555
tas_single_node_fulcio_port_metrics: 2113

tas_single_node_nginx_pod: nginx
tas_single_node_nginx_port_https: 8443
tas_single_node_nginx_port_http: 8080
tas_single_node_nginx_hostport_https: 443
tas_single_node_nginx_hostport_http: 80

tas_single_node_rekor_redis_pod: rekor-redis
tas_single_node_rekor_redis_port_tcp: 6379

tas_single_node_rekor_server_pod: rekor-server
tas_single_node_rekor_server_port_http: 3001
# note: this is hardcoded to 2112 in rekor and can't be changed right now
tas_single_node_rekor_server_port_metrics: 2112

tas_single_node_rekor_search_ui_pod: rekor-search-ui
tas_single_node_rekor_search_ui_port_tcp: 3000

tas_single_node_trillian_logserver_pod: trillian-logserver
tas_single_node_trillian_logserver_port_rpc: 8091
tas_single_node_trillian_logserver_port_metrics: 8090

tas_single_node_trillian_logsigner_pod: trillian-logsigner
tas_single_node_trillian_logsigner_port_metrics: 8092
tas_single_node_trillian_logsigner_port_rpc: 8093

tas_single_node_trillian_mysql_pod: trillian-mysql
tas_single_node_trillian_mysql_port_tcp: 3306

tas_single_node_tsa_server_pod: tsa-server
tas_single_node_tsa_server_port_tcp: 3002

tas_single_node_tuf_pod: tuf
tas_single_node_tuf_port_http: 8080

tas_single_node_tuf_init_pod: tuf-init
