apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ tas_single_node_nginx_pod }}"
  namespace: nginx-system
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          # 1.20
          image: "{{ tas_single_node_nginx_image }}"
          args:
            - nginx
            - -g
            - daemon off;
            - -c
            - /etc/nginx/conf/nginx.conf
          ports:
            - name: https
              containerPort: {{ tas_single_node_nginx_port_https }}
              hostPort: {{ tas_single_node_nginx_hostport_https }}
            - name: http
              containerPort: {{ tas_single_node_nginx_port_http }}
              hostPort: {{ tas_single_node_nginx_hostport_http }}
          volumeMounts:
            - mountPath: /certs
              name: nginx-certs
              readOnly: true
            - mountPath: /etc/nginx/conf
              name: nginx-config
              #subPath: nginx.conf
              #readOnly: true
      restartPolicy: Always
      volumes:
        - name: nginx-certs
          persistentVolumeClaim:
            claimName: nginx-certs
        - name: nginx-config
          persistentVolumeClaim:
            claimName: nginx-config
