apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: nginx-system
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          # 1.20
          image: {{ nginx_image }}
          args:
            - nginx
            - -g
            - daemon off;
            - -c
            - /etc/nginx/conf/nginx.conf
          ports:
            - name: https
              containerPort: 8443
              hostPort: 443
            - name: http
              containerPort: 8080
              hostPort: 80
          volumeMounts:
            - mountPath: /certs
              name: nginx-certs
              readOnly: true
            - mountPath: /etc/nginx/conf
              name: nginx-config
              #subPath: nginx.conf
              #readOnly: true
      restartPolicy: Always
      volumes:
        - name: nginx-certs
          secret:
            secretName: nginx-certs
        - name: nginx-config
          configMap:
            defaultMode: 420
            name: nginx-config