name: Test the collection using Ansible Molecule and securesign/sigstore-e2e test suite
on:
  push:
    branches:
      - 'main'
  pull_request:
jobs:
  molecule:
    env:
      AWS_SSH_KEY: ${{ secrets.AWS_SSH_KEY }}
      AWS_KEY_NAME: ${{ secrets.AWS_KEY_NAME }}
      TAS_SINGLE_NODE_REGISTRY_USERNAME: ${{ secrets.TAS_SINGLE_NODE_REGISTRY_USERNAME }}
      TAS_SINGLE_NODE_REGISTRY_PASSWORD: ${{ secrets.TAS_SINGLE_NODE_REGISTRY_PASSWORD }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_DEFAULT_REGION: "eu-north-1"
      GITHUB_RUN_ID: ${{ github.run_id }}
      SCENARIO_NAME: ${{ matrix.scenario }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scenario:
          - default
          - user_provided
          - postgresql
          - postgresql1
          - key_rotation
          - backup_restore_migrate
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Automation Hub login
        uses: ./.github/actions/ah-login
        with:
          token: ${{ secrets.AUTOMATION_HUB_TOKEN }}

      - name: Install TAS using molecule test
        uses: ./.github/actions/molecule-test
        with:
          scenario: ${{ matrix.scenario }}

      - name: Extract TAS IP address
        run: |
          cat ~/.cache/molecule/artifact-signer-ansible/${{ matrix.scenario }}/inventory/molecule_inventory.yml
          tas_singlenode_address=$(cat ~/.cache/molecule/artifact-signer-ansible/${{ matrix.scenario }}/inventory/molecule_inventory.yml | yq e '.all.children.molecule.hosts | keys | .[0]')
          echo "tas_singlenode_address=$tas_singlenode_address" >> $GITHUB_ENV


      - name: If Migration Scenario set migration hostname
        shell: bash
        if: ${{ matrix.scenario == 'backup_restore_migrate' }}
        run: |
          echo "host=yourrhtas" >> $GITHUB_ENV

      - name: If not Migration Scenario set default name
        shell: bash
        if: ${{ matrix.scenario != 'backup_restore_migrate' }}
        run: |
          echo "host=myrhtas" >> $GITHUB_ENV

      - name: Execute e2e test suite
        uses: ./.github/actions/go-e2e
        with:
          tas_address: ${{ env.tas_singlenode_address }}
          fulcio_host: fulcio.${{ env.host }}
          rekor_host: rekor.${{ env.host }}
          tsa_host: tsa.${{ env.host }}
          cli_server_host: cli-server.${{ env.host }}
          rekor_search_host: rekor-search.${{ env.host }}
          tuf_host: tuf.${{ env.host }}
          host: ${{ env.host }}

      - name: Destroy molecule infrastructure
        if: always()
        run: |
          source venv/bin/activate
          molecule destroy --scenario-name ${{ matrix.scenario }}
