name: Test the collection using Ansible Molecule
on:
  push:
  pull_request:

jobs:
  molecule:
    runs-on: testing-farm
    steps:
        - name: Checkout code
          uses: actions/checkout@v4
        - name: Install dependencies
          run: |
            python -m venv venv
            source venv/bin/activate
            python -m pip install --upgrade pip
            pip install -r requirements-testing.txt
            ansible-galaxy install -r requirements.yml
        - name: Run molecule
          env:
            TAS_SINGLE_NODE_REGISTRY_USERNAME: ${{ secrets.TAS_SINGLE_NODE_REGISTRY_USERNAME }}
            TAS_SINGLE_NODE_REGISTRY_PASSWORD: ${{ secrets.TAS_SINGLE_NODE_REGISTRY_PASSWORD }}
            TESTING_FARM_API_TOKEN: ${{ secrets.TESTING_FARM_API_TOKEN }}
          run: |
            eval $(ssh-agent -s) # testing-farm CLI right now mandates that ssh-agent is running
            source venv/bin/activate
            molecule -vv test --scenario-name default
        - name: Destroy molecule infrastructure
          env:
            TESTING_FARM_API_TOKEN: ${{ secrets.TESTING_FARM_API_TOKEN }}
          if: always()
          run:
            source venv/bin/activate
            molecule destroy
