{
    "OIDCIssuers": {
    "{{ oidc_issuers }}": {
        "ClientID": "{{ sigstore_client_id }}",
        "IssuerURL": "{{ issuer_url }}",
        "Type": "{{  oidc_issuers_type }}"
        }
    }
}